@{
	var data = new[] {
		new {
			Name = "Yoji Kishi",
			Title = "CEO",
			Src = "/images/team/upload-741103b0-b4e6-11e8-a0c9-8dd9face81ec.png",
			Description = "Rare type of High-edge Japanese technology specialist with wide international marketing experience.",
			SocialLinks = new[] {
				new {
					url = "https://www.linkedin.com/in/yoji-kishi-70108610b/",
					name = "linkedin"
				}
			}
		}
	};
}

<section class="section black_mod">
	<div class="section_in">
		<h2 class="section_title">Our Team</h2>
		<ul class="team_list">
			@foreach (var item in data) {
				<li class="team_item">
					<div class="team_col img_mod">
						<div class="team_img_w">
							<img class="team_img" src="@(item.Src)">
						</div>
					</div>
					<div class="team_col">
						<div class="team_head">
							<div class="team_head_col">
								<h3 class="team_name">@item.Name</h3>
								<span class="team_title">@item.Title</span>
							</div>
							</div>
							<div class="team_head_col social_mod">
								<ul class="social_list team_mod">
									@foreach (var link in item.SocialLinks) {
										<li class="social_item team_mod"> 
											<a class="social_link team_mod" href="@link.url">
												<svg class="icon icon-link-c size_mod">
													<use xlink:href="i/sprite/sprite.svg#link-c"></use>
												</svg>
											</a>
										</li>
									}
								</ul>
							</div>
							<div class="team_body">
								<div class="team_descr"><p>@item.Description</p></div>
							</div>
					</div>
				</li>
			}
		</ul>
	</div>
</section>