@{
    ViewData["Title"] = "360° Secured";
}
@{
    var loc = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
    if (!loc.Equals("ru") && !loc.Equals("en"))
    {
        loc = "en";
    }

    var roadMapPath = "/static/docs_/road_" + loc + ".svg";
    var presentationPath = "/static/docs_/CWP 360Secured-" + loc + ".pdf";
}

<!-- home1-hero-area-start -->
<div class="home-a">
    <section class="home1-hero-area" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="home1-hero-left">
                        <h1 class="h1hl-title">
                            <locale exclude="ja-JP">
@*                                <span class="bold">*@
                                    @Locale["ECO"]
@*                                </span>*@

                                <div class="s-h1__sub s-mt_10">@Locale["head"]</div>
                            </locale>

                            <locale include="ja-JP">
                                @Locale["ECO"]
                                <div class="s-h1__sub s-mt_10">@Locale["head"]</div>
                            </locale>
                        </h1>
                        @*                    <p class="h1hl-text">*@
                        @*                        @Locale["head sub"]*@
                        @*                    </p>*@
                        <h2 class="h1-h2sub">@Locale["Private Pre-Sale"]</h2>
                        <div style="margin-bottom: 0;" class="how-can-help">
                            <div style="z-index: -1; position: absolute;" id="h"></div>
                            <div style="margin-bottom: 27px;" id="digital_led"></div>
                            <div class="">
                                <a style="color:#aed6f7" href="#presale" class="smoothscroll btn btn-round btn-b btn-lg s header-disc">
                                    @Locale["Get discount"]
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="home1-hero-right">
                        @*                    <img src="http://www.compbegin.ru/data/image/intel2_(2).jpg" />*@
                        <img class="chart home1-hero-right_img hidden-xs" src="~/static/block-1-1.png" alt="cwp" />
@*                        <img class="chart black" src="~/static/block-1-1.png" alt="cwp" />*@
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- home1-hero-area-end -->
<div class="container s-padd">
    <div style="margin-bottom: 172px; padding-top: 36px;" class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="download-right">
                <div class="section-title">
                    <h2>
                        @Locale["bestsolution"]
                    </h2>
                    <p style="font-size:18px;">
                        @Locale["besttext"]

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="download-right">
                <img class="chart" src="/static/block-2-1-1.png" alt="CWP" />
            </div>
        </div>
    </div>

    <div style="margin-bottom: 80px;" class="row b-sol white">
        <div class="col-md-7 col-sm-6 col-xs-12">
            <div class="donwload-left">
                @*                    <img src="https://c.76.my/Malaysia/intel-compute-stick-1-83ghz-2gb-ddr3l-win8-1-32gb-stck1a32wfc-saveallstore-1705-16-F404732_1.jpg" alt="">*@
                @*                    <img class="chart" src="~/static/RDR2.png" alt="cwp" />*@
                <img class="chart" src="~/static/block-2-2.png" alt="cwp" />

            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="download-right s-mb_27">
                <div class="section-title">
                    <h2>
                        @Locale["solution"]
                    </h2>
                    <p>
                        @Locale["decentrsys"]

                    </p>
                </div>
                <a class="btn btn-b btn-round s-tt_u" target="_blank" href="@presentationPath">@Locale["presentation"]</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">

            <div class="section-title left s-mb_20">
                <h2>
                    @Locale["INTERVIEW"]
                </h2>
                <p>
                    @Locale["INTERVIEWSUB"]

                </p>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
              <iframe id="s-interview" width="100%" height="311px" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="grad">
    <div style="padding: 60px 15px 20px" class="container white">
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div style="margin-bottom: 50px;" class="section-title left">
                    <h2>
                        @Locale["Specifications"]
                    </h2>

@*                    <p>*@
@*                        <strong class="s-fs_20">CWP LITE</strong> *@
@**@
@*                    </p>*@
@*                    <p>*@
@*                        @Locale["compatible"]*@
@*                    </p>*@
                </div>

                <div class="row s-tt_u s-mb_40">
                    <div class="col-md-8 col-lg-6">
                        <div class="s-mb_40 s-specs">
                            <i class="cw cw-3x cw-display s-mr_10"></i>
                            <span class="s-icon s-spec_i">OLED Display</span>
                        </div>
                        <div class="s-mb_40 s-specs">
                            <i class="cw cw-3x cw-cpu s-mr_10"></i>
                            <span class="s-icon s-spec_i">Quad-Core CPU</span>
                        </div>
                        <div class="s-mb_40 s-specs">
                            <i class="cw cw-3x cw-ram s-mr_10"></i>
                            <span class="s-icon s-spec_i">
                                4GB RAM<br>
                                & 16Gb Flash
                            </span>
                        </div>

                        <div class="s-mb_40 s-specs">
                            <i class="cw cw-3x cw-usb s-mr_10"></i>
                            <span class="s-icon s-spec_i">
                                USB & HDMI
                            </span>

                        </div>


                    </div>

                    <div class="col-md-4 col-lg-4">
                        <div class="s-mb_40 s-specs">
                            <i class="cw cw-3x cw-fingerprint s-mr_10"></i>
                            <span class="s-icon s-spec_i">
                                Biometric
                            </span>
                        </div>
                        <div class="s-mb_40 s-specs">
                            <i class="cw cw-3x cw-wifi s-mr_10"></i>
                            <span class="s-icon s-spec_i">
                                WI-FI & LTE
                            </span>

                        </div>
                    </div>
                </div>
                
                <div>
                    <p style="font-size: 22px;color: #fff;font-weight: 100; margin-bottom: 22px;">@Locale["specbottom"]</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="s-center_767">
                    <img class="b-2-devices" src="~/static/block-4.png" alt="cwp" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- available-area-end -->
<section id="token" class="c-000211 s-black-o">
    <div style="padding: 100px 15px" class="container white">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>
                        @Locale["tokengen"]
                    </h2>

                </div>
            </div>
        </div>
        <div class="row s-delim">
            <div class="col-md-6 col-sm-6 col-xs-12 s-ta_c">
                <div class="s-mb_20">
                <a href="#presale" class="smoothscroll btn btn-round btn-b btn-lg s-tt_u">@Locale["Private Pre-Sale btn"]</a>
                    </div>
                <a style="color:#589da5" class="smoothscroll s-tt_u s-fs_16" href="#smart">
                    @Locale["smartcontract"]
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12  s-tt_u">
                <table width="100%">
                    <tr>
                        <td>@Locale["Token"]</td>
                        <td style="color:#589da5" class="s-ta_r">CWT-P</td>
                    </tr>
                    <tr>
                        <td>Soft cap</td>
                        <td class="s-ta_r">180 ETH ($240 K)</td>
                    </tr>
                    <tr>
                        <td>Hard cap</td>
                        <td class="s-ta_r">1351 ETH ($1.8M)</td>
                    </tr>
                    <tr>
                        <td>@Locale["Token for sale"]</td>
                        <td class="s-ta_r">15.000.000(3%)</td>
                    </tr>
                    <tr>
                        <td>1 CWT-P </td>
                        <td class="s-ta_r">$0.12</td>
                    </tr>

                </table>
            </div>
        </div>
        <div style="margin-bottom: 120px;" class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 s-ta_c s-mb_20">
                <a style="min-width: 332px;" href="#presale" class="smoothscroll btn btn-round btn-b btn-lg  s-tt_u">@Locale["tgesale"]</a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 s-tt_u">
                <table width="100%">
                    <tr>
                        <td>@Locale["Token"]</td>
                        <td style="color:#589da5" class="s-ta_r">CWT</td>
                    </tr>
                    <tr>
                        <td>Soft cap</td>
                        <td class="s-ta_r">1802 ETH ($2.4M)</td>
                    </tr>
                    <tr>
                        <td>Hard cap</td>
                        <td class="s-ta_r">35.586 ETH ($47.4M)</td>
                    </tr>
                    <tr>
                        <td>@Locale["Token for sale"]</td>
                        <td class="s-ta_r">250.000.000(50%)</td>
                    </tr>
                    <tr>
                        <td>@Locale["Sales start"]</td>
                        <td class="s-ta_r">@(new DateTime(2018, 05, 15).ToLongDateString())</td>
                    </tr>

                </table>
            </div>
        </div>
        
        <div class="s-ta_c">
            <a style="color:#8cf9fd" href="#presale" class="smoothscroll btn btn-round btn-b btn-lg s">
                @Locale["Get discount"]
            </a>
        </div>
        @*        <div class="row">*@
        @*            <table width="100%">*@
        @*                <tr>*@
        @*                    <td>Atracted Amount<br/>by the Token<br/>Presale Participants</td>*@
        @*                    <td>&nbsp;</td>*@
        @*                    <td class="s-ta_c">*@
        @*                        <strong>*@
        @*                            2M CWT<br/>$240 000*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                    <td class="s-ta_c">*@
        @*                        <strong>*@
        @*                            3M CWT<br/>$360 000*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                    <td class="s-ta_c">*@
        @*                        <strong>*@
        @*                            4M CWT<br/>$480 000*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                    <td class="s-ta_c">*@
        @*                        <strong>*@
        @*                            5M CWT<br/>$600 000*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                    <td class="s-ta_c">*@
        @*                        <strong>*@
        @*                            10M CWT<br/>$1 200 000*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                    <td class="s-ta_c">*@
        @*                        <strong>*@
        @*                            15M CWT<br/>$1 800 000*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                </tr>*@
        @*                <tr>*@
        @**@
        @*                    <td colspan="8">&nbsp;</td>*@
        @**@
        @*                </tr>*@
        @**@
        @*                <tr>*@
        @*                    <td>The number of batches<br/>of the pilot series of 100pcs</td>*@
        @*                    <td>&nbsp;</td>*@
        @*                    <td class="s-ta_c s-fs_25">*@
        @*                        <strong>*@
        @*                            0*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                    <td class="s-ta_c s-fs_25">*@
        @*                        <strong>*@
        @*                            0*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                    <td class="s-ta_c s-fs_25">*@
        @*                        <strong>*@
        @*                            1*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                    <td class="s-ta_c s-fs_25">*@
        @*                        <strong>*@
        @*                            2*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                    <td class="s-ta_c s-fs_25">*@
        @*                        <strong>*@
        @*                            4*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                    <td class="s-ta_c s-fs_25">*@
        @*                        <strong>*@
        @*                            7*@
        @*                        </strong>*@
        @*                    </td>*@
        @*                </tr>*@
        @*            </table>*@
        @*        </div>*@
    </div>
</section>
<!-- download-area-start -->
<section class="download-area" id="smart">
    <div class="section-title">
        <h2>
            @Locale["smartcontract"]
        </h2>

        <div class="container">
            <div class="row">
                <a data-toggle="collapse" href="#token-code">@Locale["toggle"]</a>

                <pre class="s-ta_l collapse" id="token-code">
pragma solidity ^ 0.4 .18;

library SafeMath {
  function mul(uint256 a, uint256 b) internal pure returns(uint256) {
    if (a == 0) {
      return 0;
    }
    uint256 c = a * b;
    assert(c / a == b);
    return c;
  }

  function div(uint256 a, uint256 b) internal pure returns(uint256) {
    uint256 c = a / b;
    return c;
  }

  function sub(uint256 a, uint256 b) internal pure returns(uint256) {
    assert(b <= a);
    return a - b;
  }

  function add(uint256 a, uint256 b) internal pure returns(uint256) {
    uint256 c = a + b;
    assert(c >= a);
    return c;
  }
}

contract ERC20Basic {
  uint256 public totalSupply;

  function balanceOf(address who) public view returns(uint256);

  function transfer(address to, uint256 value) public returns(bool);
  event Transfer(address indexed from, address indexed to, uint256 value);
}

contract BasicToken is ERC20Basic {
  using SafeMath
  for uint256;

  mapping(address => uint256) balances;

  function transfer(address _to, uint256 _value) public returns(bool) {
    require(_to != address(0));
    require(_value <= balances[msg.sender]);

    balances[msg.sender] = balances[msg.sender].sub(_value);
    balances[_to] = balances[_to].add(_value);
    Transfer(msg.sender, _to, _value);
    return true;
  }
  
  function balanceOf(address _owner) public view returns(uint256 balance) {
    return balances[_owner];
  }

}

contract ERC20 is ERC20Basic {
  function allowance(address owner, address spender) public view returns(uint256);

  function transferFrom(address from, address to, uint256 value) public returns(bool);

  function approve(address spender, uint256 value) public returns(bool);
  event Approval(address indexed owner, address indexed spender, uint256 value);
}

contract StandardToken is ERC20, BasicToken {

  mapping(address => mapping(address => uint256)) internal allowed;

  function transferFrom(address _from, address _to, uint256 _value) public returns(bool) {
    require(_to != address(0));
    require(_value <= balances[_from]);
    require(_value <= allowed[_from][msg.sender]);

    balances[_from] = balances[_from].sub(_value);
    balances[_to] = balances[_to].add(_value);
    allowed[_from][msg.sender] = allowed[_from][msg.sender].sub(_value);
    Transfer(_from, _to, _value);
    return true;
  }

  function approve(address _spender, uint256 _value) public returns(bool) {
    allowed[msg.sender][_spender] = _value;
    Approval(msg.sender, _spender, _value);
    return true;
  }

  function allowance(address _owner, address _spender) public view returns(uint256) {
    return allowed[_owner][_spender];
  }

  function increaseApproval(address _spender, uint _addedValue) public returns(bool) {
    allowed[msg.sender][_spender] = allowed[msg.sender][_spender].add(_addedValue);
    Approval(msg.sender, _spender, allowed[msg.sender][_spender]);
    return true;
  }

  function decreaseApproval(address _spender, uint _subtractedValue) public returns(bool) {
    uint oldValue = allowed[msg.sender][_spender];
    if (_subtractedValue > oldValue) {
      allowed[msg.sender][_spender] = 0;
    } else {
      allowed[msg.sender][_spender] = oldValue.sub(_subtractedValue);
    }
    Approval(msg.sender, _spender, allowed[msg.sender][_spender]);
    return true;
  }

}

contract Ownable {
  address public owner;
  event OwnershipTransferred(address indexed previousOwner, address indexed newOwner);

  function Ownable() public {
    owner = msg.sender;
  }

  modifier onlyOwner() {
    require(msg.sender == owner);
    _;
  }

  function transferOwnership(address newOwner) public onlyOwner {
    require(newOwner != address(0));
    OwnershipTransferred(owner, newOwner);
    owner = newOwner;
  }

}

contract MintableToken is StandardToken, Ownable {
  event Mint(address indexed to, uint256 amount);
  event MintFinished();

  bool public mintingFinished = false;


  modifier canMint() {
    require(!mintingFinished);
    _;
  }

  function mint(address _to, uint256 _amount) onlyOwner canMint public returns(bool) {
    totalSupply = totalSupply.add(_amount);
    balances[_to] = balances[_to].add(_amount);
    Mint(_to, _amount);
    Transfer(address(0), _to, _amount);
    return true;
  }

  function finishMinting() onlyOwner canMint public returns(bool) {
    mintingFinished = true;
    MintFinished();
    return true;
  }
}

contract CappedToken is MintableToken {

  uint256 public cap;

  function CappedToken(uint256 _cap) public {
    require(_cap > 0);
    cap = _cap;
  }

  function mint(address _to, uint256 _amount) onlyOwner canMint public returns(bool) {
    require(totalSupply.add(_amount) <= cap);

    return super.mint(_to, _amount);
  }

}

contract pCWTToken is CappedToken {
  string public constant name = "Pre-sale CryptoWorkPlace Token";
  string public constant symbol = "CWT-P";
  uint8 public constant decimals = 18;
  uint256 public constant MAX_SUPPLY = 15000000 * (uint256(10) ** decimals); //3% of 500 000 000

  function pCWTToken() public
  CappedToken(MAX_SUPPLY) {}
}
                </pre>
            </div>

        </div>

    </div>
</section>
@*<div class="counter-area">*@
@*    <div class="container-s">*@
@*        <div class="row">*@
@*            <div class="col-md-2 col-sm-4 col-xs-12 col-md-offset-1">*@
@*                <div class="counter-box">*@
@*                    <h2 class="s-icon counter counter-up" data-counterup-time="1500" data-counterup-delay="30">1802</h2> <span class="s-icon">ETH</span>*@
@*                    <p class="counter-text">@Locale["hcap"]</p>*@
@*                    <span class="counter-icon">*@
@*                        <i class="fas fa-crosshairs"></i>*@
@*                    </span>*@
@*                </div>*@
@*            </div>*@
@*            <div class="col-md-2 col-sm-4 col-xs-12">*@
@*                <div class="counter-box">*@
@*                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">500</h2> <span class="s-icon">M pieces</span>*@
@*                    <p class="counter-text">@Locale["memiss"]</p>*@
@*                    <span class="counter-icon">*@
@*                        <i class="fas fa fa-rocket"></i>*@
@*                    </span>*@
@*                </div>*@
@*            </div>*@
@*            <div class="col-md-2 col-sm-4 col-xs-12">*@
@*                <div class="counter-box">*@
@*                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">250</h2> <span class="s-icon">M pieces</span>*@
@*                    <p class="counter-text">@Locale["sailingt"] (@Locale["50part"])</p>*@
@*                    <span class="counter-icon">*@
@*                        <i class="far fa fa-puzzle-piece"></i>*@
@*                    </span>*@
@*                </div>*@
@*            </div>*@
@*            <div class="col-md-2 col-sm-4 col-xs-12">*@
@*                <div class="counter-box">*@
@*                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">0.20</h2> <span class="s-icon">$</span>*@
@*                    <p class="counter-text">@Locale["tc"]</p>*@
@*                    <span class="counter-icon">*@
@*                        <i class="far fa fa-thumbs-up"></i>*@
@*                    </span>*@
@*                </div>*@
@*            </div>*@
@*            <div class="col-md-2 col-sm-4 col-xs-12">*@
@*                <div class="counter-box">*@
@*                    <span class="s-icon">@Locale["up2"] </span>*@
@*                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">40</h2> <span class="s-icon">%</span>*@
@*                    <p class="counter-text">@Locale["disc"]</p>*@
@*                    <span class="counter-icon">*@
@*                        <i class="fas fa fa-percent"></i>*@
@*                    </span>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*</div>*@
<!-- download-area-end -->
<!-- download-area-start -->
@*<section class="download-area" id="docs">*@
@*    <div class="section-title">*@
@*        <h2 class="">*@
@*            @Locale["documents"]*@
@*        </h2>*@
@*        <div style="margin-bottom: 36px; font-size: 18px; text-transform: uppercase">*@
@*            @Locale["wp"]*@
@*            <div class="s-ta_c">*@
@*                <a class="s-mr_10" target="_blank" href="~/static/docs_/CWP_White_Paper_ru.pdf">&mdash;@Locale["ru"]&mdash;</a>*@
@*                <a target="_blank" href="~/static/docs_/CWP_White_Paper_en.pdf">&mdash;@Locale["en"]&mdash;</a>*@
@*            </div>*@
@*        </div>*@
@*        <div style="margin-bottom: 36px; font-size: 18px; text-transform: uppercase">*@
@*            @Locale["1page"]*@
@*            <div class="s-ta_c">*@
@*                <a class="s-mr_10" target="_blank" href="~/static/docs_/CWP_OnePage_RU.pdf">&mdash;@Locale["ru"]&mdash;</a>*@
@*                <a target="_blank" href="~/static/docs_/CWP_OnePage_EN.pdf">&mdash;@Locale["en"]&mdash;</a>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*</section>*@

<!-- download-area-end -->
<!-- counter-area-start -->
@*    <div class="counter-area">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-3 col-sm-12 col-xs-12">*@
@*                    <div class="section-title">*@
@*                        <h2>SOME <br><span>FACTS</span></h2>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-3 col-sm-4 col-xs-12">*@
@*                    <div class="counter-box">*@
@*                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">12000</h2>*@
@*                        <p class="counter-text">PC ATTACKED NOW</p>*@
@*                        <span class="counter-icon"><i class="fa fa-cloud-download"></i></span>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-3 col-sm-4 col-xs-12">*@
@*                    <div class="counter-box">*@
@*                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">238</h2>*@
@*                        <p class="counter-text">PC ATTACKED NOW</p>*@
@*                        <span class="counter-icon"><i class="fa fa-android"></i></span>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-3 col-sm-4 col-xs-12">*@
@*                    <div class="counter-box">*@
@*                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">1027</h2>*@
@*                        <p class="counter-text">PC ATTACKED NOW</p>*@
@*                        <span class="counter-icon"><i class="fa fa-apple"></i></span>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@


<!-- counter-area-end -->
<!-- feature-area-start -->
<section class="feature-area" id="ROADMAP">@*background: #0aafc2 url(RoadMapPath) center center no-repeat; background-size: contain;*@
<div style="padding: 80px 0; margin-bottom: 0;" class="white grad">
<div class="container">

    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div style="margin-bottom:0" class="feature-head">
                <div class="section-title">
                    <h2>
                        @Locale["roadmaph"]
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<img src="@roadMapPath"/>



<div style="margin-bottom: 27px;" class="container ">

@*<div class="row">*@
@*<div class="col-md-10 col-md-offset-1 col-xs-12">*@
@*<div class="feature-head">*@
@*    <div class="section-title">*@
@*        <h2>*@
@*            @Locale["roadmaph"]*@
@*        </h2>*@
@*    </div>*@
@*</div>*@

@*                    <div class="row example-centered">*@
@**@
@*                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">*@
@*                            <ul class="timeline timeline-centered">*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>2008</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["idea"]</h3>*@
@**@
@*                                    </div>*@
@*                                </li>*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>2009</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["pat"]</h3>*@
@**@
@*                                    </div>*@
@*                                </li>*@
@**@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>2010</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r2"]</h3>*@
@**@
@*                                    </div>*@
@*                                </li>*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>2011</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r3"]</h3>*@
@*                                    </div>*@
@*                                </li>*@
@**@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>2012</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r4"]</h3>*@
@*                                    </div>*@
@*                                </li>*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>2015</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r5"]</h3>*@
@*                                    </div>*@
@*                                </li>*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>2016</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r6"]</h3>*@
@*                                    </div>*@
@*                                </li>*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>2017</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r7"]</h3>*@
@*                                    </div>*@
@*                                </li>*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>@Locale["feb"] - @Locale["April"]</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r8"]</h3>*@
@*                                    </div>*@
@*                                </li>*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>@Locale["may"]</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r9"]</h3>*@
@*                                    </div>*@
@*                                </li>*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>@Locale["r11"]</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r10"]</h3>*@
@*                                    </div>*@
@*                                </li>*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>@Locale["r13"]</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r12"]</h3>*@
@*                                    </div>*@
@*                                </li>*@
@*                                <li class="timeline-item">*@
@*                                    <div class="timeline-info">*@
@*                                        <span>Q4</span>*@
@*                                    </div>*@
@*                                    <div class="timeline-marker"></div>*@
@*                                    <div class="timeline-content">*@
@*                                        <h3 class="timeline-title">@Locale["r14"]</h3>*@
@*                                    </div>*@
@*                                </li>*@
@**@
@*                            </ul>*@
@*                        </div>*@
@*                    </div>*@
@*                <table class="table">*@
@*                    <thead>*@
@*                    <tr>*@
@*                        <th class="g-style">@Locale["year"]</th>*@
@*                        <th></th>*@
@*                    </tr>*@
@*                    </thead>*@
@**@
@*                    <tbody>*@
@*                    <tr>*@
@*                        <td>2008</td>*@
@*                        <td>@Locale["idea"]</td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td>2009</td>*@
@*                        <td>@Locale["pat"]</td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td>2009</td>*@
@*                        <td>@Locale["r1"]</td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td>2010</td>*@
@*                        <td>@Locale["r2"]</td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td>2011</td>*@
@*                        <td>@Locale["r3"]</td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td>2012</td>*@
@*                        <td>@Locale["r4"]</td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td>2015</td>*@
@*                        <td>@Locale["r5"]</td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td>2016</td>*@
@*                        <td>@Locale["r6"]</td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td>2017</td>*@
@*                        <td>@Locale["r7"]</td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td>@Locale["feb"] - @Locale["march"]</td>*@
@*                        <td>@Locale["r8"]</td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td class="s-fs_06">@Locale["april"]</td>*@
@*                        <td>*@
@*                            @Locale["r9"]*@
@*                        </td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td class="s-fs_06">@Locale["r11"]</td>*@
@*                        <td>*@
@*                            @Locale["r10"]*@
@*                        </td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td class="s-fs_06">@Locale["r13"]</td>*@
@*                        <td>*@
@*                            @Locale["r12"]*@
@*                        </td>*@
@*                    </tr>*@
@*                    <tr>*@
@*                        <td class="s-fs_06">Q4</td>*@
@*                        <td>*@
@*                            @Locale["r14"]*@
@*                        </td>*@
@*                    </tr>*@
@*                    </tbody>*@
@*                </table>*@
</div>
    @*    <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/66069c5000f04c718f7045bae5127c2f/embed?autospin=0.2&amp;autostart=1&amp;preload=1" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>*@
    @**@
    @*        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">*@
    @*            <a href="https://sketchfab.com/models/66069c5000f04c718f7045bae5127c2f?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">USB Mini PC</a>*@
    @*            by <a href="https://sketchfab.com/cryptoworkplace?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">cryptoworkplace</a>*@
    @*            on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>*@
    @*        </p>*@
    @*    </div>*@

    @*<div style="padding-bottom: 100px;" class="container">*@
    @*    <div class="row">*@
    @*        <div class="col-md-12 col-xs-12">*@
    @*            <div class="feature-head">*@
    @*                <div class="section-title left">*@
    @*                    <h2>*@
    @*                        @Locale["news"]*@
    @*                    </h2>*@
    @*                </div>*@
    @*            </div>*@
    @*        </div>*@
    @*    </div>*@
    @*    <div class="row">*@
    @*        <div class="col-md-3 col-sm-6 col-xs-12">*@
    @*            <div class="b-news">*@
    @*                <div style="background-image: url('https://www.bakermckenzie.com/-/media/images/locations/czech_republic1.jpg')" class="b-news-top">*@
    @**@
    @*                </div>*@
    @*                <div class="b-news-bottom">*@
    @*                    <div class="b-news_date">28.03.2017</div>*@
    @*                    <div class="b-news_title">CWP лаборатория в Чехии</div>*@
    @*                    <div class="b-news_content">*@
    @*                        CWP лаборатория зарегистрирована по адресу: Czech Republic, Prague, Stepanska 704/61, 11000 Praha 1-Nove Mesto*@
    @*                    </div>*@
    @*                </div>*@
    @*            </div>*@
    @*        </div>*@
    @*        <div class="col-md-3 col-sm-6 col-xs-12">*@
    @*            <div class="b-news">*@
    @*                <div style="background-repeat: no-repeat; background-size: 81px; background-position: center 20px; background-image: url('/static/block-4.png')" class="b-news-top">*@
    @**@
    @*                </div>*@
    @*                <div class="b-news-bottom">*@
    @*                    <div class="b-news_date">28.03.2017</div>*@
    @*                    <div class="b-news_title">Промышленный дизайн</div>*@
    @*                    <div class="b-news_content">*@
    @*                        Обновлен промышленный дизайн устройства. CWP получил два варианта исполнения: BLACK, SILVER.*@
    @*                    </div>*@
    @*                </div>*@
    @*            </div>*@
    @*        </div>*@
    @*        <div class="col-md-3 col-sm-6 col-xs-12">*@
    @*            <div class="b-news">*@
    @*                <div style="background-image: url('/static/screencapture-youtube-watch-2018-04-07-13_49_58.png')" class="b-news-top">*@
    @**@
    @*                </div>*@
    @*                <div class="b-news-bottom">*@
    @*                    <div class="b-news_date">20.03.2018</div>*@
    @*                    <div class="b-news_title">Интервью с ментором проекта</div>*@
    @*                    <div class="b-news_content">*@
    @*                        Ваган Саруханов посетил студию <strong>Aurora Blockchain Capital</strong>, дав развернутое интервью о планах проекта.*@
    @*                    </div>*@
    @*                </div>*@
    @*            </div>*@
    @*        </div>*@
    @**@
    @*        <div class="col-md-3 col-sm-6 col-xs-12">*@
    @*            <div class="b-news">*@
    @*                <div style="background: url('/static/partners/arm.png') center center no-repeat" class="b-news-top">*@
    @**@
    @*                </div>*@
    @*                <div class="b-news-bottom">*@
    @*                    <div class="b-news_date">16.02.2018</div>*@
    @*                    <div class="b-news_title">Гарантия качества</div>*@
    @*                    <div class="b-news_content">*@
    @*                        На всех выпущенных устройствах CryptoWorkPlace будет применена защита от подделки ArmPack.*@
    @*                    </div>*@
    @*                </div>*@
    @*            </div>*@
    @*        </div>*@
    @*    </div>*@
    @*    $1$        <div class="row">#1#*@
    @*    $1$            <div class="col-md-10 col-md-offset-1 col-xs-12">#1#*@
    @*    $1$                <div class="feature-head">#1#*@
    @*    $1$                    <div class="section-title">#1#*@
    @*    $1$                        <h2>#1#*@
    @*    $1$                            @Locale["amfeac"]#1#*@
    @*    $1$                        </h2>#1#*@
    @*    $1$                    </div>#1#*@
    @*    $1$                </div>#1#*@
    @*    $1$            </div>#1#*@
    @*    $1$        </div>#1#*@
    @*    $1$        <div class="row">#1#*@
    @*    $1$            <div class="col-md-4 col-sm-4 col-xs-12">#1#*@
    @*    $1$                <div class="feature-box">#1#*@
    @*    $1$                    <div class="feature-icon">#1#*@
    @*    $1$                        $2$                        <img src="img/home1/feature3.png" alt="">#2##1#*@
    @*    $1$                        <i style="color: #dadada" class="fas fa-shield-alt fa-5x"></i>#1#*@
    @*    $1$                    </div>#1#*@
    @*    $1$                    <div class="feature-content">#1#*@
    @*    $1$                        <h2>#1#*@
    @*    $1$                            @Locale["buildin"]#1#*@
    @*    $1$                        </h2>#1#*@
    @*    $1$                        $2$                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>#2##1#*@
    @*    $1$                    </div>#1#*@
    @*    $1$                </div>#1#*@
    @*    $1$#1#*@
    @*    $1$            </div>#1#*@
    @*    $1$            <div class="col-md-4 col-sm-4 col-xs-12">#1#*@
    @*    $1$                <div class="feature-box">#1#*@
    @*    $1$                    <div class="feature-icon">#1#*@
    @*    $1$                        $2$                        <img src="img/home1/feature1.png" alt="">#2##1#*@
    @*    $1$                        <i style="color: #ffc107" class="fas fa-bolt fa-5x"></i>#1#*@
    @*    $1$                    </div>#1#*@
    @*    $1$                    <div class="feature-content">#1#*@
    @*    $1$                        <h2>#1#*@
    @*    $1$                            @Locale["prevmelt"]#1#*@
    @*    $1$                        </h2>#1#*@
    @*    $1$                        $2$                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>#2##1#*@
    @*    $1$                    </div>#1#*@
    @*    $1$                </div>#1#*@
    @*    $1$            </div>#1#*@
    @*    $1$#1#*@
    @*    $1$            <div class="col-md-4 col-sm-4 col-xs-12">#1#*@
    @*    $1$                <div class="feature-box">#1#*@
    @*    $1$                    <div class="feature-icon">#1#*@
    @*    $1$                        $2$                        <img src="img/home1/feature2.png" alt="">#2##1#*@
    @*    $1$                        <i style="color: #607D8B" class="fas fa-tachometer-alt fa-5x"></i>#1#*@
    @*    $1$                    </div>#1#*@
    @*    $1$                    <div class="feature-content">#1#*@
    @*    $1$                        <h2>#1#*@
    @*    $1$                            @Locale["awsperf"]#1#*@
    @*    $1$                        </h2>#1#*@
    @*    $1$                        $2$                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>#2##1#*@
    @*    $1$                    </div>#1#*@
    @*    $1$                </div>#1#*@
    @*    $1$#1#*@
    @*    $1$            </div>#1#*@
    @*    $1$#1#*@
    @*    $1$        </div>#1#*@
    @*    $1$#1#*@
    @*    $1$        <div class="row">#1#*@
    @*    $1$            <div class="col-md-12 col-xs-12">#1#*@
    @*    $1$                <div class="feature-head">#1#*@
    @*    $1$                    <div class="sketchfab-embed-wrapper">#1#*@
    @*    $1$                        $2$                        <iframe width="640" height="480" src="https://sketchfab.com/models/66069c5000f04c718f7045bae5127c2f/embed?autospin=0.2&amp;autostart=1&amp;camera=0&amp;preload=1" frameborder="0" onmousewheel=""></iframe>#2##1#*@
    @*    $1$                    </div>#1#*@
    @*    $1$                </div>#1#*@
    @*    $1$            </div>#1#*@
    @*    $1$        </div>#1#*@
    @*</div>*@

    @*<div style="padding: 60px 0" class="c-000211">*@
    @*<div class="container">*@
    @*        <div class="row white">*@
    @*            <div class="col-md-12 col-xs-12">*@
    @*                <div class="feature-head">*@
    @*                    <div class="section-title left">*@
    @*                        <h2>*@
    @*                            @Locale["Events"]*@
    @*                        </h2>*@
    @*                    </div>*@
    @*                </div>*@
    @*            </div>*@
    @*        </div>*@
    @*    <div style="color:#444" class="row">*@
    @*        <div class="col-md-6 col-sm-12 col-xs-12">*@
    @*            <div class="b-news overhead">*@
    @*                <div style="background-image: url('https://www.bakermckenzie.com/-/media/images/locations/czech_republic1.jpg') " class="b-news-top">*@
    @*                </div>*@
    @*                <div class="b-news-bottom overhead">*@
    @*                    <div class="b-news_date">28.03.2017</div>*@
    @*                    <div class="b-news_title">CWP лаборатория в Чехии</div>*@
    @*                    <div class="b-news_content">CWP лаборатория зарегистрирована по адресу: Czech Republic, Prague, Stepanska 704/61, 11000 Praha 1-Nove Mesto*@
    @*                    </div>*@
    @*                </div>*@
    @*            </div>*@
    @*        </div>*@
    @*        <div class="col-md-3 col-sm-6 col-xs-12">*@
    @*            <div class="b-news">*@
    @*                <div style="background-image: url('https://www.bakermckenzie.com/-/media/images/locations/czech_republic1.jpg') " class="b-news-top">*@
    @*                    *@
    @*                </div>*@
    @*                <div class="b-news-bottom">*@
    @*                    <div class="b-news_date">28.03.2017</div>*@
    @*                    <div class="b-news_title">CWP лаборатория в Чехии</div>*@
    @*                    <div class="b-news_content">CWP лаборатория зарегистрирована по адресу: Czech Republic, Prague, Stepanska 704/61, 11000 Praha 1-Nove Mesto*@
    @*                    </div>*@
    @*                </div>*@
    @*            </div>*@
    @*        </div>*@
    @*        <div class="col-md-3 col-sm-6 col-xs-12">*@
    @*            <div class="b-news">*@
    @*                <div style="background-image: url('https://www.bakermckenzie.com/-/media/images/locations/czech_republic1.jpg') " class="b-news-top">*@
    @*                    *@
    @*                </div>*@
    @*                <div class="b-news-bottom">*@
    @*                    <div class="b-news_date">28.03.2017</div>*@
    @*                    <div class="b-news_title">CWP лаборатория в Чехии</div>*@
    @*                    <div class="b-news_content">CWP лаборатория зарегистрирована по адресу: Czech Republic, Prague, Stepanska 704/61, 11000 Praha 1-Nove Mesto*@
    @*                    </div>*@
    @*                </div>*@
    @*            </div>*@
    @*        </div>*@
    @*    </div>*@
    @*</div>*@
    @*        $1$        <div class="row">#1#*@
    @*        $1$            <div class="col-md-10 col-md-offset-1 col-xs-12">#1#*@
    @*        $1$                <div class="feature-head">#1#*@
    @*        $1$                    <div class="section-title">#1#*@
    @*        $1$                        <h2>#1#*@
    @*        $1$                            @Locale["amfeac"]#1#*@
    @*        $1$                        </h2>#1#*@
    @*        $1$                    </div>#1#*@
    @*        $1$                </div>#1#*@
    @*        $1$            </div>#1#*@
    @*        $1$        </div>#1#*@
    @*        $1$        <div class="row">#1#*@
    @*        $1$            <div class="col-md-4 col-sm-4 col-xs-12">#1#*@
    @*        $1$                <div class="feature-box">#1#*@
    @*        $1$                    <div class="feature-icon">#1#*@
    @*        $1$                        $2$                        <img src="img/home1/feature3.png" alt="">#2##1#*@
    @*        $1$                        <i style="color: #dadada" class="fas fa-shield-alt fa-5x"></i>#1#*@
    @*        $1$                    </div>#1#*@
    @*        $1$                    <div class="feature-content">#1#*@
    @*        $1$                        <h2>#1#*@
    @*        $1$                            @Locale["buildin"]#1#*@
    @*        $1$                        </h2>#1#*@
    @*        $1$                        $2$                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>#2##1#*@
    @*        $1$                    </div>#1#*@
    @*        $1$                </div>#1#*@
    @*        $1$#1#*@
    @*        $1$            </div>#1#*@
    @*        $1$            <div class="col-md-4 col-sm-4 col-xs-12">#1#*@
    @*        $1$                <div class="feature-box">#1#*@
    @*        $1$                    <div class="feature-icon">#1#*@
    @*        $1$                        $2$                        <img src="img/home1/feature1.png" alt="">#2##1#*@
    @*        $1$                        <i style="color: #ffc107" class="fas fa-bolt fa-5x"></i>#1#*@
    @*        $1$                    </div>#1#*@
    @*        $1$                    <div class="feature-content">#1#*@
    @*        $1$                        <h2>#1#*@
    @*        $1$                            @Locale["prevmelt"]#1#*@
    @*        $1$                        </h2>#1#*@
    @*        $1$                        $2$                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>#2##1#*@
    @*        $1$                    </div>#1#*@
    @*        $1$                </div>#1#*@
    @*        $1$            </div>#1#*@
    @*        $1$#1#*@
    @*        $1$            <div class="col-md-4 col-sm-4 col-xs-12">#1#*@
    @*        $1$                <div class="feature-box">#1#*@
    @*        $1$                    <div class="feature-icon">#1#*@
    @*        $1$                        $2$                        <img src="img/home1/feature2.png" alt="">#2##1#*@
    @*        $1$                        <i style="color: #607D8B" class="fas fa-tachometer-alt fa-5x"></i>#1#*@
    @*        $1$                    </div>#1#*@
    @*        $1$                    <div class="feature-content">#1#*@
    @*        $1$                        <h2>#1#*@
    @*        $1$                            @Locale["awsperf"]#1#*@
    @*        $1$                        </h2>#1#*@
    @*        $1$                        $2$                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>#2##1#*@
    @*        $1$                    </div>#1#*@
    @*        $1$                </div>#1#*@
    @*        $1$#1#*@
    @*        $1$            </div>#1#*@
    @*        $1$#1#*@
    @*        $1$        </div>#1#*@
    @*        $1$#1#*@
    @*        $1$        <div class="row">#1#*@
    @*        $1$            <div class="col-md-12 col-xs-12">#1#*@
    @*        $1$                <div class="feature-head">#1#*@
    @*        $1$                    <div class="sketchfab-embed-wrapper">#1#*@
    @*        $1$                        $2$                        <iframe width="640" height="480" src="https://sketchfab.com/models/66069c5000f04c718f7045bae5127c2f/embed?autospin=0.2&amp;autostart=1&amp;camera=0&amp;preload=1" frameborder="0" onmousewheel=""></iframe>#2##1#*@
    @*        $1$                    </div>#1#*@
    @*        $1$                </div>#1#*@
    @*        $1$            </div>#1#*@
    @*        $1$        </div>#1#*@
@*    </div>*@
</div>
</section>
<!-- feature-area-end -->
@*    <!-- video-area-start -->*@
@*    <div class="video-area bg-with-black">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-xs-12">*@
@*                    <div class="video-button">*@
@*                        <a class="h4hb-video popup-youtube" href="https://www.youtube.com/watch?v=apJnxEIItXE"><i class="icofont icofont-ui-video-play"></i></a>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*    <!-- video-area-end -->*@
<!-- testimonial-area-start -->
@*    <div class="testimonial-area bg-with-blue">*@
@*        <div class="testimonial">*@
@*            <div class="testimonial-carousel owl-carousel">*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
<!-- testimonial-area-end -->
<!-- screenshot-area-start -->
@*    <section class="screenshot-area" id="screenshot">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-10 col-md-offset-1 col-xs-12">*@
@*                    <div class="screenshot-head">*@
@*                        <div class="section-title">*@
@*                            <h2>SCREEN<span>SHOTS</span></h2>*@
@*                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="row">*@
@*                <div class="col-md-8 col-md-offset-2 col-xs-12">*@
@*                    <div class="screenshots">*@
@*                        <div class="screenshot-carousel owl-carousel">*@
@*                            <div class="screenshot-box">*@
@*                                <img src="img/home1/screenshot-all.png" alt="">*@
@*                            </div>*@
@*                            <div class="screenshot-box">*@
@*                                <img src="img/home1/screenshot-all.png" alt="">*@
@*                            </div>*@
@*                            <div class="screenshot-box">*@
@*                                <img src="img/home1/screenshot-all.png" alt="">*@
@*                            </div>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </section>*@
<!-- screenshot-area-end -->
<!-- team-area-start -->
<section class="team-area grad-g white" id="team">
    <div class="team-area_inner">
        <div style="margin-bottom: 138px" class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div class="screenshot-head">
                        <div class="section-title white">
                            @Locale["meet"]
                        </div>
                    </div>
                </div>
            </div>
            <div class="row s-mb_60">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <div class="single-team">
                            <img src="/static/team/yoji.png"/>
                            <img class="s-prev" src="/static/team/yoji.png"/>
                            <div class="st-content">
                                <h5>@Locale["Yoji Kishi"]</h5>
                                <p>
                                    @Locale["t11"]
                                </p>

                                <div class="social-w">
                                    <a target="_blank" href="https://www.linkedin.com/in/yoji-kishi-70108610b/">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="st-content-under">
                        @Locale["ceo"]<br/>
                        <span class="t-m-name">@Locale["Yoji Kishi"]</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team">
                        <img src="/static/team/alexey.jpg" />
                        <img class="s-prev" src="/static/team/alexey.jpg"/>
                        <div class="st-content">
                            <h5>@Locale["cvo"] @Locale["Alexey Gladkov"]</h5>
                            <p>
                                @*                        Президент Kintaro Power Cells Japan*@
                                @*                        <br/>Региональный директор MapMess Inc.*@
                                @*                        <br/>Директор-основатель научно-исследовательской компании AV-Cells Singapore*@
                                @*                        <br/>30 летний опыт ведения собственного бизнеса*@
                                @*                        <br/>20 лет ведения бизнеса в Сингапуре и Японии*@

                                @Locale["t1"]


                            </p>
                            <div class="social-w">
                                <a target="_blank" href="https://www.linkedin.com/in/alexei-gladkov-04b03b14b/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="st-content-under">
                        @Locale["cvo"]<br />
                        <span class="t-m-name">
                            @Locale["Alexey Gladkov"]
                        </span>

                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team">
                        <img src="/static/team/max.png" />
                        
                        <img class="s-prev" src="/static/team/max.png" />
                        <div class="st-content">
                            <h5>@Locale["Maxim Maslich"]</h5>

                            <p>
                                @*                        Microsoft Certified Professional<br/>*@
                                @*                        Microsoft Certified Technology Specialist Exam 511<br/>*@
                                @*                        Blockchain and smart contracts developer<br/>*@
                                @*                        Эксперт в управлении процессом разработки ПО, построении распределенных, высоконагруженных и защищенных систем<br/>*@
                                @*                        Разработка систем мониторинга транспорта (грузовой, легковой, спецтехника, пассажирские перевозки, весовой контроль, контроль производственных линий, автоматизация таксопарка) для компаний Алроса, ГАЗПРОМ, Лукойл, Русал, РЖД, Сатори, Автолайн, городское такси.<br/>*@
                                @*                        Разработка систем документооборота, проведения тендеров и торгов для X5 Retail Group, Лента, Metro C&C*@
                                @Locale["t2"]

                            </p>

                            <div class="social-w">

                                <a target="_blank" href="https://www.linkedin.com/in/mmaslich/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="st-content-under">
                        @Locale["cto"]<br />
                        <span class="t-m-name">
                            @Locale["Maxim Maslich"]
                        </span>

                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team">
                        <img src="/static/team/art.jpg" />
                        <img class="s-prev" src="/static/team/art.jpg" />
                        <div class="st-content">
                            <h5>@Locale["Software Engineer"] @Locale["Artur Enokyan"]</h5>

                            <p>
                                @*                    Senior JavaScript Developer Full-Stack<br />*@
                                @*                    Certified Middle End Android Developer<br />*@
                                @*                    Certified Middle End iOS Developer<br />*@
                                @*                    Java EE, С#, PHP, Lua, Python, GO developer,<br />*@
                                @*                    Unity 3D developer,<br />*@
                                @*                    $1$                        Эксперт в разработке Highload приложений<br/>#1#*@
                                @*                    Expert in developing Highload applications<br />*@
                                @*                    $1$                        Разработка трейдинг-платформ<br/>#1#*@
                                @*                    Custom Trading Platforms Development<br />*@
                                @*                    Development of special software for major retailers<br />*@
                                @*                    Cryptography, electronic document management<br />*@
                                @**@
                                @*                    $1$                        Разработка специального программного обеспечения для крупных ритейлеров<br/>#1#*@
                                @*                    $1$                        Специалист по криптографии<br/>#1#*@
                                @*                    $1$                        Разработка систем электронного документооборота<br/>#1#*@
                                @*                    $1$                        Разработка специального программного обеспечения для Минобороны России<br/>#1#*@
                                @**@
                                @*                    Development of special software for the Ministry of Defense of Russia<br />*@
                                @*                    $1$                        Разработка специального программного обеспечения и участие в разработке программно-аппаратных комплексов для федеральных ведомств РФ<br/>#1#*@
                                @**@
                                @*                    Development of special software and participation in the development of software and hardware for federal agencies of the Russian Federation<br />*@
                                @*                    $1$                        Разработка специального программного обеспечения- для мониторинга и управления безопасностью в сети<br/>#1#*@
                                @*                    Development of special software - for monitoring and managing network security<br />*@
                                @*                    $1$                        Разработка внедряемых агентов-коллекторов для анализа и сбора данных о сетевой и переферийной активности ПК<br/>#1#*@
                                @**@
                                @*                    Development of implemented collector agents for analyzing and collecting data on network and peripheral PC activity<br />*@
                                @*                    $1$                        Государственная тайна#1#*@
                                @Locale["t3"]
                            </p>

                            <div class="social-w">

                                <a target="_blank" href="https://www.linkedin.com">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="st-content-under">
                        @Locale["Software Engineer"]<br />
                        <span class="t-m-name">
                            @Locale["Artur Enokyan"]
                        </span>

                    </div>
                </div>
            </div>

            <div class="row  s-mb_60">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team">
                        <img src="/static/team/ant.png" />
                        <img class="s-prev" src="/static/team/ant.png" />
                        <div class="st-content">
                            <h5>@Locale["Anton Polyansky"]</h5>

                            <p>
                                @*                        Руководитель производства аппаратных средств<br/>*@
                                @*                        Инженер-разработчик аппаратных средств<br/>*@
                                @*                        Инженер-программист встраиваемых систем<br/>*@
                                @*                        Специалист по вычислительным системам микро исполнения<br/>*@
                                @*                        Разработка схемотехнических решений, трассировка печатных плат и разработка встраиваемого программного обеспечения для тепловизионных приборов<br/>*@
                                @*                        Разработка схемотехнических решений, трассировка печатных плат для устройств нижнего уровня системы распознавания музыкальных произведений Quinta<br/>*@
                                @*                        Разработка схемотехнических решений и трассировка печатных плат для устройств системы Умного дома<br/>*@
                                @*                        Разработка микроминиатюрных биометрических датчиков и процессорной системы управления биоэлектрическим протезом верхних конечностей<br/>*@
                                @*                        Разработка встраиваемых систем передачи данных на основе технологий Wi-Fi, GSM и Bluetooth*@
                                @Locale["t4"]
                            </p>

                            <div class="social-w">

                                <a target="_blank" href="https://www.linkedin.com/in/anton-polyansky-400a5a156/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="st-content-under">
                        @Locale["Head of Hardware Production"]<br />
                        <div class="t-m-name">
                            @Locale["Anton Polyansky"]
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team">
                        <img src="/static/team/den.jpg" />
                        <img class="s-prev" src="/static/team/den.jpg" /> 
                        <div class="st-content">
                            <h5>@Locale["Denis Kuznetsov"]</h5>
                            <p>
                                Lead Mathematician, Senior Architect Developer<br />
                                @*                        Программист встраиваемых систем<br/>*@
                                @*                        Специалист нейронных систем и глубокого обучения<br/>*@
                                @*                        Разработка агента для ведения нецелевого диалога в банковской системе<br/>*@
                                @*                        Разработка Telegram-ботов с поддержкой искусственного интеллекта<br/>*@
                                @*                        Разработка встраиваемого программного обеспечения для устройств системы распознавания музыкальных произведений Quinta<br/>*@
                                @*                        Соавтор патентов для алгоритмов распознавания музыкальных произведений<br/>*@
                                @Locale["t5"]


                            </p>

                            <div class="social-w">

                                <a target="_blank" href="https://www.linkedin.com/in/%D0%B4%D0%B5%D0%BD%D0%B8%D1%81-%D0%BA%D1%83%D0%B7%D0%BD%D0%B5%D1%86%D0%BE%D0%B2-814352118/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="st-content-under">
                        @Locale["Lead Mathematician"]<br />
                        <span class="t-m-name">
                            @Locale["Denis Kuznetsov"]
                        </span>

                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team">
                        <img src="/static/team/anton.png"/>
                        <img class="s-prev" src="/static/team/anton.png"/>
                        <div class="st-content">
                            <h5>@Locale["Anton Maslov"]</h5>

                            <p>
                                @Locale["t6"]
                            </p>

                            <div class="social-w">

                                <a target="_blank" href="https://www.linkedin.com/in/%D0%B0%D0%BD%D1%82%D0%BE%D0%BD-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE%D0%B2-232701156/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="st-content-under">
                        @Locale["Senior System Analyst"]<br>
                        <span class="t-m-name">
                            @Locale["Anton Maslov"]
                        </span>

                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team">
                        <img style="filter: grayscale(100%)" src="/static/team/oleg.jpg">
                        
                        <img class="s-prev" style="filter: grayscale(100%)" src="/static/team/oleg.jpg">
                        <div class="st-content">
                            <h5>@Locale["Oleg Sarukhanov"]</h5>

                            <p>
                                @Locale["t15"]
                            </p>

                            <div class="social-w">

                                <a target="_blank" href="https://ru.linkedin.com/in/oleg-sarukhanov-74332416/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>

                                <a target="_blank" href="https://www.facebook.com/profile.php?id=100011271487659">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="st-content-under">
                        @Locale["CMO"]<br />
                        <span class="t-m-name">
                            @Locale["Oleg Sarukhanov"]
                        </span>

                    </div>
                </div>

            </div>
            <div class="row">

            </div>
        </div>

        <div style="margin-bottom: 138px" class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div class="screenshot-head">
                        <div class="section-title">
                            <h2 class="">@Locale["adv"]</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 60px;" class="row s-mb_60">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <img src="/static/adv/podelko.jpg" />
                        <img class="s-prev" src="/static/adv/podelko.jpg" />
                        <div class="st-content">
                            <h5>Ph.D., MBA/@Locale["Alexander Podelko"]</h5>
                            <p>
                                @*                        К.т.н., эксперт по разработке и тестированию ПО<br/> *@
                                @*                        Член совета директоров группы компьютерных измерений.<br/> *@
                                @*                        Oracle, Consulting Member of Technical Staff<br/>*@
                                @*                        Hyperion, Distinguished Performance Engineer <br/>*@
                                @*                        Aetna, Sr. Architect II<br/>*@
                                @*                        Александр осуществляет координацию продаж и производства продукта для американского рынка, управление филиалом проекта в США, взаимодействие с крупными американскими компаниями-партнерами, обеспечивающими научную и техническую поддержку проекта.<br/>*@
                                @*                        Александр имеет 30 летний опыт в тестировании программного обеспечения, что позволяет ему организовать взаимодействие проекта с крупнейшими игроками рынка тестирования ПО, такими как QAMentor.*@
                                @*                        An expert in software development and testing<br />*@
                                @*                        Member of the Board of Directors of the Computer Measurement Group<br />*@
                                @*                        Oracle, Consulting Member of Technical Staff<br />*@
                                @*                        Hyperion, Distinguished Performance Engineer <br />*@
                                @*                        Aetna, Sr. Architect II<br /><br />*@
                                @**@
                                @*                        Alexander coordinates the sales and production of the product for the US market, the management of the project's branch in the United States, the interaction with major US partner companies that provide scientific and technical support for the project.<br /><br />*@
                                @**@
                                @**@
                                @*                        Alexander has 30 years of experience in software testing, which allows him to organize the interaction of the project with the largest players in the software testing market, such as QAMentor.*@

                                @Locale["t7"]
                            </p>
                            <div class="social-w">
                                <a target="_blank" href="https://www.facebook.com/alexander.podelko?ref=br_rs">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a target="_blank" href="https://www.linkedin.com/in/alexanderpodelko/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a target="_blank" href="http://alexanderpodelko.com/">
                                    pp
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="st-content-under">
                        Ph.D., MBA<br />
                        <span class="t-m-name">
                            @Locale["Alexander Podelko"]
                        </span>

                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <img style="filter:grayscale(100%)" src="/static/adv/ssagalov.jpg" alt="" />
                        <img class="s-prev" style="filter:grayscale(100%)" src="/static/adv/ssagalov.jpg" alt="" />
                        <div class="st-content">
                            <h5>@Locale["magistrofscience"] / @Locale["ssagalov"]</h5>
                            <div class="single-team_st-content">
                                @* TODO: change all locales names *@
                                @Locale["ssagalovbio"]
                            </div>

                            <div class="social-w">
                                <a target="_blank" href="https://www.linkedin.com/in/serguei-sagalovitch-a162a34/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="st-content-under">
                        @Locale["pmotsamd"] <br />
                        <span class="t-m-name">
                            @Locale["ssagalov"]
                        </span>

                    </div>
                </div>
               

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <img src="/static/adv/vag.png" alt=""/>
                        <img class="s-prev" src="/static/adv/vag.png" alt=""/>
                        <div class="st-content">
                            <h5>CEO Flexlab<br>@Locale["Wagan Sarukhanov"]</h5>
                            <p>
                                @*CEO Flexlab<br>
                                    CEO Flexlab
                                    Blockchain researcher and expert
                                    30 years of experience in contract manufacturing of electronics and software
                                    More than 20 projects in various industries
                                    Mentor

                                    Wagan's competencies help the project in the business development and technical issues of product development and manufacturing*@
                                @Locale["t10"]
                            </p>
                            <div class="social-w">
                                <a target="_blank" href="https://www.facebook.com/wagan.sarukhanov">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a target="_blank" href="https://www.linkedin.com/in/sarukhanov/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="st-content-under">
                        CEO Flexlab<br>
                        <span class="t-m-name">
                            @Locale["Wagan Sarukhanov"]
                        </span>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="padding-bottom: 131px; background-color: #fff; padding-top: 100px;" class="">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div class="screenshot-head">
                        <div class="section-title">
                            <h2 style="color: #444">@Locale["partners"]</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 120px;" class="row">

                <div class="col-md-2 col-sm-2 col-xs-12 s-ta_c">
                    <div class="_single-team s-ta_c">

                        <a target="_blank" href="https://kintarocells.com">
                            <img class="h-grey" width="50" src="/static/partners/cells.png" alt="CELLS POWER JAPAN" />
                        </a>
                        <div class="s-mb_9">
                            <a target="_blank" href="https://kintarocells.com">CELLS POWER JAPAN</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 s-ta_c">
                    <div class="_single-team s-ta_c">

                        <a target="_blank" href="http://www.icape-group.com/">
                            <img class="h-grey" width="50" src="/static/partners/icape.png" alt="ICAPE GROUP" />
                        </a>
                        <div class="s-mb_9">
                            <a target="_blank" href="http://www.icape-group.com/">ICAPE GROUP</a>
                        </div>
                        @*                        <div class="st-content">*@
                        @*                            <h5>ALEX SWEET</h5>*@
                        @*                            <p>Web Designer</p>*@
                        @*                            <a href="#">+</a>*@
                        @*                        </div>*@
                    </div>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 s-ta_c">
                    <div class="_single-team s-ta_c">

                        <a target="_blank" href="http://www.qamentor.com/">
                            <img class="h-grey" width="200" src="/static/partners/qa.png" alt="QA MENTOR" />
                        </a>
                        <div class="s-mb_9">
                            <a target="_blank" href="http://www.qamentor.com/">QA MENTOR</a>
                        </div>
                        @*                        <div class="st-content">*@
                        @*                            <h5></h5>*@
                        @*                            <p></p>*@
                        @*                            <a href="#">+</a>*@
                        @*                        </div>*@
                    </div>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 s-ta_c">
                    <div class="_single-team s-ta_c">

                        <a target="_blank" href="https://adcase.ru">
                            <img class="h-grey" width="100" src="/static/partners/adcase.png" alt="adcase" />
                        </a>
                        <div class="s-mb_9">
                            <a target="_blank" href="https://adcase.ru">ADCASE</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 s-ta_c">
                    <div class="_single-team s-ta_c">

                        <a target="_blank" href="https://glory-event.com">
                            <img class="h-grey" width="100" src="/static/partners/glory.png" alt="CELLS POWER JAPAN" />
                        </a>
                        <div class="s-mb_9">
                            <a target="_blank" href="https://glory-event.com ">GLORY EVENT</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 s-ta_c">
                    <div class="_single-team s-ta_c">

                        <a target="_blank" href="https://armpack.io">
                            <img class="h-grey" width="100" src="/static/partners/arm.png" alt="CELLS POWER JAPAN" />
                        </a>
                        <div class="s-mb_9">
                            <a target="_blank" href="https://armpack.io">ARMPACK</a>
                        </div>
                    </div>
                </div>

            </div>
            <div id="presale" class="row">

                <div style="margin-bottom: 20px;" class="col-md-7">
                    <div class="section-title left">
                        <h2 class="s-center_767" style="color: #444">
                            @Locale["JOINCWP"]
                        </h2>
                    </div>



                    <div id="cont-form" class="row">
                        <div class="col-xs-12">
                            <div class="subscribe">

                                <div data-bind="popup:{removalDelay:500, callbacks:{}}" class="white-popup mfp-with-anim mfp-hide"></div>

                                <form action="javascript:void(0)">
                                    <div style="margin-right: 40px;" class="subscribe-input-box">
                                        <input data-bind="textInput:models.feedModel.name" type="text" placeholder="@Locale["name"]">
                                    </div>
                                    <div style="margin-right: 20px;" class="subscribe-input-box sib-email">
                                        <input data-bind="textInput:models.feedModel.email" type="email" placeholder="@Locale["mail"]">
                                    </div>
                                    <div class="subscribe-input-box sib-submit">
                                        <button data-bind="enable:actions.form.sendEnabled, click: actions.form.send" type="submit" class="btn btn-round btn-g">
                                            <i class="fa fa-paper-plane"></i> @Locale["contactus"]
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <p style="margin-bottom: 30px;" class="subscribe-text">
                        @Locale["reghelp"]
                        <br/>
                        This application does not impose any obligation on any of the parties
                    </p>

                </div>
                <div class="col-md-5">
                    <img src="~/static/cwp-s.png">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- team-area-end -->
<!-- pricing-area-start -->
@*    <section class="pricing-area" id="price">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-10 col-md-offset-1 col-xs-12">*@
@*                    <div class="pricing-head">*@
@*                        <div class="section-title">*@
@*                            <h2>OUR <span>PRICING</span></h2>*@
@*                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="row">*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-pricing">*@
@*                        <h2 class="sp-title">Basic</h2>*@
@*                        <h3 class="sp-price">$12</h3>*@
@*                        <p class="sp-duration">A week membership</p>*@
@*                        <ul class="sp-list">*@
@*                            <li>3 Web Design</li>*@
@*                            <li>5 Web Development</li>*@
@*                            <li>Free Hosting</li>*@
@*                            <li>SEO Optimization</li>*@
@*                        </ul>*@
@*                        <a class="sp-buy" href="#">Buy now</a>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-pricing active">*@
@*                        <span class="sp-popular">Most Popular</span>*@
@*                        <h2 class="sp-title">Premium</h2>*@
@*                        <h3 class="sp-price">$42</h3>*@
@*                        <p class="sp-duration">A month membership</p>*@
@*                        <ul class="sp-list">*@
@*                            <li>3 Web Design</li>*@
@*                            <li>5 Web Development</li>*@
@*                            <li>Free Hosting</li>*@
@*                            <li>SEO Optimization</li>*@
@*                            <li>24/7 Support</li>*@
@*                            <li>WP Customization</li>*@
@*                        </ul>*@
@*                        <a class="sp-buy" href="#">Buy now</a>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-pricing">*@
@*                        <h2 class="sp-title">Pro</h2>*@
@*                        <h3 class="sp-price">$492</h3>*@
@*                        <p class="sp-duration">A week membership</p>*@
@*                        <ul class="sp-list">*@
@*                            <li>3 Web Design</li>*@
@*                            <li>5 Web Development</li>*@
@*                            <li>Free Hosting</li>*@
@*                            <li>SEO Optimization</li>*@
@*                            <li>24/7 Support</li>*@
@*                        </ul>*@
@*                        <a class="sp-buy" href="#">Buy now</a>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </section>*@
<!-- pricing-area-end -->
<!-- blog-area-start -->
@*    <div class="blog-area">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-10 col-md-offset-1 col-xs-12">*@
@*                    <div class="blog-head">*@
@*                        <div class="section-title">*@
@*                            <h2>Latest News <span>From Blog</span></h2>*@
@*                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="row">*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-blog">*@
@*                        <div class="blog-img">*@
@*                            <a href="07_Post_Details.html"><img src="img/home1/blog1.png" alt=""></a>*@
@*                        </div>*@
@*                        <div class="blog-content">*@
@*                            <span class="bc-date">25th May 2015</span>*@
@*                            <p class="bc-author">Posted by Methov jos in Blog</p>*@
@*                            <h6 class="bc-title"><a href="07_Post_Details.html">Doloremque laudantium totam...</a></h6>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-blog">*@
@*                        <div class="blog-img">*@
@*                            <a href="07_Post_Details.html"><img src="img/home1/blog2.png" alt=""></a>*@
@*                        </div>*@
@*                        <div class="blog-content">*@
@*                            <span class="bc-date">25th May 2015</span>*@
@*                            <p class="bc-author">Posted by Methov jos in Blog</p>*@
@*                            <h6 class="bc-title"><a href="07_Post_Details.html">Doloremque laudantium totam...</a></h6>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-blog">*@
@*                        <div class="blog-img">*@
@*                            <a href="07_Post_Details.html"><img src="img/home1/blog3.png" alt=""></a>*@
@*                        </div>*@
@*                        <div class="blog-content">*@
@*                            <span class="bc-date">25th May 2015</span>*@
@*                            <p class="bc-author">Posted by Methov jos in Blog</p>*@
@*                            <h6 class="bc-title"><a href="07_Post_Details.html">Doloremque laudantium totam...</a></h6>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-xs-12">*@
@*                    <div class="see-all-blog">*@
@*                        <a class="hvr-bs" href="04_Blog_Standeard.html">View All post</a>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
<!-- blog-area-end -->
@*    <!-- twitter-area-start -->*@
@*    <div class="twitter-area">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-xs-12">*@
@*                    <div class="twitter">*@
@*                        <a class="twitter-follow" href="#">Follow us</a>*@
@*                        <p class="twitter-text">@@AndreiJosan Just found this great App Store PSD template on dribbble, check it out: <a href="#">https://t.co/3NaSG35m</a> #freebie #template #dribbble — 12 Mar 2016</p>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*    <!-- twitter-area-end -->*@

@section Scripts{
    <script defer asp-append-version="true" src="~/js/App.js"></script>
    <script defer asp-append-version="true" src="~/js/vm/main/index.js"></script>
    <script defer src="~/js/raphael.js"></script>
    <script defer asp-append-version="true" src="~/js/timer.js"></script>
}