@{
    ViewData["Title"] = "Home";
}

<!-- home1-hero-area-start -->
<section class="home1-hero-area" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="home1-hero-left">
                    <h1 class="h1hl-title">
                        <span class="bold">@Locale["decentralizedsystem"]</span> @Locale["head"]
                    </h1>
                    <p class="h1hl-text">
                        @Locale["head sub"]
                    </p>
                    <div style="margin-bottom: 36px;" class="how-can-help">
                        <div class="hch-img">

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="home1-hero-right">
                    @*                    <img src="http://www.compbegin.ru/data/image/intel2_(2).jpg" />*@
                    <img class="chart hue" src="~/static/RDR.png" alt="cwp" />
                    <img class="chart black hue" src="~/static/RDRb.png" alt="cwp" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- home1-hero-area-end -->
<!-- available-area-start -->
<div class="available-area">
    <div style="margin-bottom: 138px;" class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="available">
                    <h5 class="available-title">@Locale["wallet"]:</h5>
                    <ul class="available-links">
                        <li>
                            <a href="javascript:void(0)">
                                <img src="img/home1/download1.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img src="img/home1/download2.png" alt="">
                            </a>
                        </li>
@*                        <li>*@
@*                            <a href="javascript:void(0)">*@
@*                                <img src="img/home1/download3.png" alt="">*@
@*                            </a>*@
@*                        </li>*@
@*                        <li>*@
@*                            <a href="javascript:void(0)">*@
@*                                <img src="img/home1/download4.png" alt="">*@
@*                            </a>*@
@*                        </li>*@
                    </ul>
                    @*                    <h2 class="available-counter">*@
                    @*                        <span class="counter counter-up" *@
                    @*                              data-counterup-delay="30" *@
                    @*                              data-counterup-time="1500">133</span>K downloads*@
                    @*                    </h2>*@
                    <h2 class="available-counter">
                        <span class="counter">
                            <img src="/static/infinityb.svg" />
                        </span> @Locale["downloads"]
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div style="margin-bottom: 172px;" class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="download-right">
                    <div class="section-title">
                        <h2>
                            @Locale["problem"]
                        </h2>
                        <p>
                            @Locale["report"]

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <img class="chart" src="/static/proble-@Context.GetCurrentCulture()-.svg?@DateTime.Now.Day" alt="Problem" />
                    <img class="chart black" src="/static/proble-black-@Context.GetCurrentCulture()-.svg?@DateTime.Now.Day" alt="Problem" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="donwload-left">
                    @*                    <img src="https://c.76.my/Malaysia/intel-compute-stick-1-83ghz-2gb-ddr3l-win8-1-32gb-stck1a32wfc-saveallstore-1705-16-F404732_1.jpg" alt="">*@
                    <img class="chart" src="~/static/RDR2.png" alt="cwp" />
                    <img class="chart black" src="~/static/RDR2b.png" alt="cwp" />

                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="download-right">
                    <div class="section-title">
                        <h2>
                            @Locale["solution"]
                        </h2>
                        <p>
                            @Locale["decentrsys"]

                        </p>
                    </div>
                    @*                        <ul class="dl-list">*@
                    @*                            <li>Sed ut perspiciatis unde omnis iste natus error sit </li>*@
                    @*                            <li>voluptatem accusantium doloremque laudantium</li>*@
                    @*                            <li>totam rem aperiam eaque ipsa quae ab illo inventore</li>*@
                    @*                            <li>veritatis et quasi architecto beatae vitae dicta sunt</li>*@
                    @*                        </ul>*@

                    @*                        <p class="dl-text"><span>NOTE :</span> some note*@
                    @*                        </p>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- available-area-end -->
<!-- download-area-start -->
<section class="download-area" id="token">
    <div class="section-title">
        <h2>
            @Locale["sale"]
        </h2>
        <p style="margin-bottom: 36px;">@Locale["round"]</p>

        <div style="margin-bottom: 60px;" class="">
            <a class="smoothscroll button" href="#contact">@Locale["particsale"]</a>
        </div>


        <div class="container">
            <div class="row">
                <a data-toggle="collapse" href="#token-code">@Locale["toggle"]</a>

                <pre class="s-ta_l collapse" id="token-code">
pragma solidity ^ 0.4 .18;

library SafeMath {
  function mul(uint256 a, uint256 b) internal pure returns(uint256) {
    if (a == 0) {
      return 0;
    }
    uint256 c = a * b;
    assert(c / a == b);
    return c;
  }

  function div(uint256 a, uint256 b) internal pure returns(uint256) {
    uint256 c = a / b;
    return c;
  }

  function sub(uint256 a, uint256 b) internal pure returns(uint256) {
    assert(b <= a);
    return a - b;
  }

  function add(uint256 a, uint256 b) internal pure returns(uint256) {
    uint256 c = a + b;
    assert(c >= a);
    return c;
  }
}

contract ERC20Basic {
  uint256 public totalSupply;

  function balanceOf(address who) public view returns(uint256);

  function transfer(address to, uint256 value) public returns(bool);
  event Transfer(address indexed from, address indexed to, uint256 value);
}

contract BasicToken is ERC20Basic {
  using SafeMath
  for uint256;

  mapping(address => uint256) balances;

  function transfer(address _to, uint256 _value) public returns(bool) {
    require(_to != address(0));
    require(_value <= balances[msg.sender]);

    balances[msg.sender] = balances[msg.sender].sub(_value);
    balances[_to] = balances[_to].add(_value);
    Transfer(msg.sender, _to, _value);
    return true;
  }
  
  function balanceOf(address _owner) public view returns(uint256 balance) {
    return balances[_owner];
  }

}

contract ERC20 is ERC20Basic {
  function allowance(address owner, address spender) public view returns(uint256);

  function transferFrom(address from, address to, uint256 value) public returns(bool);

  function approve(address spender, uint256 value) public returns(bool);
  event Approval(address indexed owner, address indexed spender, uint256 value);
}

contract StandardToken is ERC20, BasicToken {

  mapping(address => mapping(address => uint256)) internal allowed;

  function transferFrom(address _from, address _to, uint256 _value) public returns(bool) {
    require(_to != address(0));
    require(_value <= balances[_from]);
    require(_value <= allowed[_from][msg.sender]);

    balances[_from] = balances[_from].sub(_value);
    balances[_to] = balances[_to].add(_value);
    allowed[_from][msg.sender] = allowed[_from][msg.sender].sub(_value);
    Transfer(_from, _to, _value);
    return true;
  }

  function approve(address _spender, uint256 _value) public returns(bool) {
    allowed[msg.sender][_spender] = _value;
    Approval(msg.sender, _spender, _value);
    return true;
  }

  function allowance(address _owner, address _spender) public view returns(uint256) {
    return allowed[_owner][_spender];
  }

  function increaseApproval(address _spender, uint _addedValue) public returns(bool) {
    allowed[msg.sender][_spender] = allowed[msg.sender][_spender].add(_addedValue);
    Approval(msg.sender, _spender, allowed[msg.sender][_spender]);
    return true;
  }

  function decreaseApproval(address _spender, uint _subtractedValue) public returns(bool) {
    uint oldValue = allowed[msg.sender][_spender];
    if (_subtractedValue > oldValue) {
      allowed[msg.sender][_spender] = 0;
    } else {
      allowed[msg.sender][_spender] = oldValue.sub(_subtractedValue);
    }
    Approval(msg.sender, _spender, allowed[msg.sender][_spender]);
    return true;
  }

}

contract Ownable {
  address public owner;
  event OwnershipTransferred(address indexed previousOwner, address indexed newOwner);

  function Ownable() public {
    owner = msg.sender;
  }

  modifier onlyOwner() {
    require(msg.sender == owner);
    _;
  }

  function transferOwnership(address newOwner) public onlyOwner {
    require(newOwner != address(0));
    OwnershipTransferred(owner, newOwner);
    owner = newOwner;
  }

}

contract MintableToken is StandardToken, Ownable {
  event Mint(address indexed to, uint256 amount);
  event MintFinished();

  bool public mintingFinished = false;


  modifier canMint() {
    require(!mintingFinished);
    _;
  }

  function mint(address _to, uint256 _amount) onlyOwner canMint public returns(bool) {
    totalSupply = totalSupply.add(_amount);
    balances[_to] = balances[_to].add(_amount);
    Mint(_to, _amount);
    Transfer(address(0), _to, _amount);
    return true;
  }

  function finishMinting() onlyOwner canMint public returns(bool) {
    mintingFinished = true;
    MintFinished();
    return true;
  }
}

contract CappedToken is MintableToken {

  uint256 public cap;

  function CappedToken(uint256 _cap) public {
    require(_cap > 0);
    cap = _cap;
  }

  function mint(address _to, uint256 _amount) onlyOwner canMint public returns(bool) {
    require(totalSupply.add(_amount) <= cap);

    return super.mint(_to, _amount);
  }

}

contract pCWTToken is CappedToken {
  string public constant name = "Pre-sale CryptoWorkPlace Token";
  string public constant symbol = "CWT-P";
  uint8 public constant decimals = 18;
  uint256 public constant MAX_SUPPLY = 15000000 * (uint256(10) ** decimals); //3% of 500 000 000

  function pCWTToken() public
  CappedToken(MAX_SUPPLY) {}
}
                </pre>
            </div>

        </div>

    </div>
</section>
<div class="counter-area">
    <div class="container-s">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12 col-md-offset-1">
                <div class="counter-box">
                    <h2 class="s-icon counter counter-up" data-counterup-time="1500" data-counterup-delay="30">1802</h2> <span class="s-icon">ETH</span>
                    <p class="counter-text">@Locale["hcap"]</p>
                    <span class="counter-icon">
                        <i class="fas fa-crosshairs"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="counter-box">
                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">500</h2> <span class="s-icon">M pieces</span>
                    <p class="counter-text">@Locale["memiss"]</p>
                    <span class="counter-icon">
                        <i class="fas fa fa-rocket"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="counter-box">
                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">250</h2> <span class="s-icon">M pieces</span>
                    <p class="counter-text">@Locale["sailingt"] (@Locale["50part"])</p>
                    <span class="counter-icon">
                        <i class="far fa fa-puzzle-piece"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="counter-box">
                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">0.20</h2> <span class="s-icon">$</span>
                    <p class="counter-text">@Locale["tc"]</p>
                    <span class="counter-icon">
                        <i class="far fa fa-thumbs-up"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="counter-box">
                    <span class="s-icon">@Locale["up2"] </span>
                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">40</h2> <span class="s-icon">%</span>
                    <p class="counter-text">@Locale["disc"]</p>
                    <span class="counter-icon">
                        <i class="fas fa fa-percent"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- download-area-end -->
<!-- download-area-start -->
<section class="download-area" id="docs">
    <div class="section-title">
        <h2 class="">
            @Locale["documents"]
        </h2>
        <div style="margin-bottom: 36px; font-size: 18px; text-transform: uppercase">
            @Locale["wp"]
            <div class="s-ta_c">
                <a class="s-mr_10" target="_blank" href="~/static/docs_/CWP_White_Paper_ru.pdf">&mdash;@Locale["ru"]&mdash;</a>
                <a target="_blank" href="~/static/docs_/CWP_White_Paper_en.pdf">&mdash;@Locale["en"]&mdash;</a>
            </div>
        </div>
        <div style="margin-bottom: 36px; font-size: 18px; text-transform: uppercase">
            @Locale["1page"]
            <div class="s-ta_c">
                <a class="s-mr_10" target="_blank" href="~/static/docs_/CWP_OnePage_RU.pdf">&mdash;@Locale["ru"]&mdash;</a>
                <a target="_blank" href="~/static/docs_/CWP_OnePage_EN.pdf">&mdash;@Locale["en"]&mdash;</a>
            </div>
        </div>
    </div>
</section>

<!-- download-area-end -->
<!-- counter-area-start -->
@*    <div class="counter-area">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-3 col-sm-12 col-xs-12">*@
@*                    <div class="section-title">*@
@*                        <h2>SOME <br><span>FACTS</span></h2>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-3 col-sm-4 col-xs-12">*@
@*                    <div class="counter-box">*@
@*                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">12000</h2>*@
@*                        <p class="counter-text">PC ATTACKED NOW</p>*@
@*                        <span class="counter-icon"><i class="fa fa-cloud-download"></i></span>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-3 col-sm-4 col-xs-12">*@
@*                    <div class="counter-box">*@
@*                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">238</h2>*@
@*                        <p class="counter-text">PC ATTACKED NOW</p>*@
@*                        <span class="counter-icon"><i class="fa fa-android"></i></span>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-3 col-sm-4 col-xs-12">*@
@*                    <div class="counter-box">*@
@*                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">1027</h2>*@
@*                        <p class="counter-text">PC ATTACKED NOW</p>*@
@*                        <span class="counter-icon"><i class="fa fa-apple"></i></span>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@

<!-- counter-area-end -->
<!-- feature-area-start -->
<section class="feature-area" id="ROADMAP">
    <div style="margin-bottom: 138px;" class="container">

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="feature-head">
                    <div class="section-title">
                        <h2>
                            @Locale["roadmaph"]
                        </h2>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th class="g-style">@Locale["year"]</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>2008</td>
                            <td>@Locale["idea"]</td>
                        </tr>
                        <tr>
                            <td>2009</td>
                            <td>@Locale["pat"]</td>
                        </tr>
                        <tr>
                            <td>2009</td>
                            <td>@Locale["r1"]</td>
                        </tr>
                        <tr>
                            <td>2010</td>
                            <td>@Locale["r2"]</td>
                        </tr>
                        <tr>
                            <td>2011</td>
                            <td>@Locale["r3"]</td>
                        </tr>
                        <tr>
                            <td>2012</td>
                            <td>@Locale["r4"]</td>
                        </tr>
                        <tr>
                            <td>2015</td>
                            <td>@Locale["r5"]</td>
                        </tr>
                        <tr>
                            <td>2016</td>
                            <td>@Locale["r6"]</td>
                        </tr>
                        <tr>
                            <td>2017</td>
                            <td>@Locale["r7"]</td>
                        </tr>
                        <tr>
                            <td>@Locale["feb"] - @Locale["march"]</td>
                            <td>@Locale["r8"]</td>
                        </tr>
                        <tr>
                            <td class="s-fs_06">@Locale["april"]</td>
                            <td>
                                @Locale["r9"]
                            </td>
                        </tr>
                        <tr>
                            <td class="s-fs_06">@Locale["r11"]</td>
                            <td>
                                @Locale["r10"]
                            </td>
                        </tr>
                        <tr>
                            <td class="s-fs_06">@Locale["r13"]</td>
                            <td>
                                @Locale["r12"]
                            </td>
                        </tr>
                        <tr>
                            <td class="s-fs_06">Q4</td>
                            <td>
                                @Locale["r14"]
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>

    @*    <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/66069c5000f04c718f7045bae5127c2f/embed?autospin=0.2&amp;autostart=1&amp;preload=1" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>*@
    @**@
    @*        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">*@
    @*            <a href="https://sketchfab.com/models/66069c5000f04c718f7045bae5127c2f?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">USB Mini PC</a>*@
    @*            by <a href="https://sketchfab.com/cryptoworkplace?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">cryptoworkplace</a>*@
    @*            on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>*@
    @*        </p>*@
    @*    </div>*@

    <div class="container">

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="feature-head">
                    <div class="section-title">
                        <h2>
                            @Locale["amfeac"]
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-box">
                    <div class="feature-icon">
                        @*                        <img src="img/home1/feature3.png" alt="">*@
                        <i style="color:#dadada" class="fas fa-shield-alt fa-5x"></i>
                    </div>
                    <div class="feature-content">
                        <h2>
                            @Locale["buildin"]
                        </h2>
                        @*                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>*@
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-box">
                    <div class="feature-icon">
                        @*                        <img src="img/home1/feature1.png" alt="">*@
                        <i style="color:#ffc107" class="fas fa-bolt fa-5x"></i>
                    </div>
                    <div class="feature-content">
                        <h2>
                            @Locale["prevmelt"]
                        </h2>
                        @*                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>*@
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-box">
                    <div class="feature-icon">
                        @*                        <img src="img/home1/feature2.png" alt="">*@
                        <i style="color:#607D8B" class="fas fa-tachometer-alt fa-5x"></i>
                    </div>
                    <div class="feature-content">
                        <h2>
                            @Locale["awsperf"]
                        </h2>
                        @*                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>*@
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="feature-head">
                    <div class="sketchfab-embed-wrapper">
                        @*                        <iframe width="640" height="480" src="https://sketchfab.com/models/66069c5000f04c718f7045bae5127c2f/embed?autospin=0.2&amp;autostart=1&amp;camera=0&amp;preload=1" frameborder="0" onmousewheel=""></iframe>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature-area-end -->
@*    <!-- video-area-start -->*@
@*    <div class="video-area bg-with-black">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-xs-12">*@
@*                    <div class="video-button">*@
@*                        <a class="h4hb-video popup-youtube" href="https://www.youtube.com/watch?v=apJnxEIItXE"><i class="icofont icofont-ui-video-play"></i></a>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*    <!-- video-area-end -->*@
<!-- testimonial-area-start -->
@*    <div class="testimonial-area bg-with-blue">*@
@*        <div class="testimonial">*@
@*            <div class="testimonial-carousel owl-carousel">*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
<!-- testimonial-area-end -->
<!-- screenshot-area-start -->
@*    <section class="screenshot-area" id="screenshot">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-10 col-md-offset-1 col-xs-12">*@
@*                    <div class="screenshot-head">*@
@*                        <div class="section-title">*@
@*                            <h2>SCREEN<span>SHOTS</span></h2>*@
@*                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="row">*@
@*                <div class="col-md-8 col-md-offset-2 col-xs-12">*@
@*                    <div class="screenshots">*@
@*                        <div class="screenshot-carousel owl-carousel">*@
@*                            <div class="screenshot-box">*@
@*                                <img src="img/home1/screenshot-all.png" alt="">*@
@*                            </div>*@
@*                            <div class="screenshot-box">*@
@*                                <img src="img/home1/screenshot-all.png" alt="">*@
@*                            </div>*@
@*                            <div class="screenshot-box">*@
@*                                <img src="img/home1/screenshot-all.png" alt="">*@
@*                            </div>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </section>*@
<!-- screenshot-area-end -->
<!-- team-area-start -->
<section class="team-area" id="team">
    <div style="margin-bottom: 138px" class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="screenshot-head">
                    <div class="section-title">
                        @Locale["meet"]
                    </div>
                </div>
            </div>
        </div>
        <div class="row s-mb_60">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-team">
                    <img src="/static/team/ykf.png?v=@DateTime.Now.Millisecond" />
                    <div class="st-content">
                        <h5>@Locale["Yoji Kishi"]</h5>
                        <p>
                            Rare type of High-edge Japanese technology specialist with wide international marketing experience.
                            <br />Shin-Nippon Research (Hong Kong) Co., Ltd. Vice-President
                            <br />International Society of Stem Cells Development , Director
                            <br />5hz Medical Supplies (Xiamen, China) Co., Ltd. Vice-president
                            <br />Kintaro Cells Power Co., Member of Board of Director
                            <br />Ryukyukan International Kobudo Karate Federation, Honor Member
                        </p>

                        <div class="social-w">
                            <a target="_blank" href="https://www.linkedin.com/in/yoji-kishi-70108610b/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    @Locale["ceo"]<br />@Locale["Yoji Kishi"]
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-team">
                    <img src="/static/team/alexey.jpg" />
                    <div class="st-content">
                        <h5>@Locale["cvo"] @Locale["Alexey Gladkov"]</h5>
                        <p>
                            @*                        Президент Kintaro Power Cells Japan*@
                            @*                        <br/>Региональный директор MapMess Inc.*@
                            @*                        <br/>Директор-основатель научно-исследовательской компании AV-Cells Singapore*@
                            @*                        <br/>30 летний опыт ведения собственного бизнеса*@
                            @*                        <br/>20 лет ведения бизнеса в Сингапуре и Японии*@

                            @Locale["t1"]


                        </p>
                        <div class="social-w">
                            <a target="_blank" href="https://www.linkedin.com/in/alexei-gladkov-04b03b14b/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    @Locale["cvo"]<br />@Locale["Alexey Gladkov"]
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-team">
                    <img src="/static/team/max.png" />
                    <div class="st-content">
                        <h5>@Locale["Maxim Maslich"]</h5>

                        <p>
                            @*                        Microsoft Certified Professional<br/>*@
                            @*                        Microsoft Certified Technology Specialist Exam 511<br/>*@
                            @*                        Blockchain and smart contracts developer<br/>*@
                            @*                        Эксперт в управлении процессом разработки ПО, построении распределенных, высоконагруженных и защищенных систем<br/>*@
                            @*                        Разработка систем мониторинга транспорта (грузовой, легковой, спецтехника, пассажирские перевозки, весовой контроль, контроль производственных линий, автоматизация таксопарка) для компаний Алроса, ГАЗПРОМ, Лукойл, Русал, РЖД, Сатори, Автолайн, городское такси.<br/>*@
                            @*                        Разработка систем документооборота, проведения тендеров и торгов для X5 Retail Group, Лента, Metro C&C*@
                            @Locale["t2"]

                        </p>

                        <div class="social-w">

                            <a target="_blank" href="https://www.linkedin.com/in/mmaslich/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    @Locale["cto"]<br />@Locale["Maxim Maslich"]
                </div>
            </div>
        </div>

        <div class="row  s-mb_60">

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-team">
                    <img src="/static/team/art.jpg" />
                    <div class="st-content">
                        <h5>@Locale["Software Engineer"] @Locale["Artur Enokyan"]</h5>

                        <p>
                            @*                    Senior JavaScript Developer Full-Stack<br />*@
                            @*                    Certified Middle End Android Developer<br />*@
                            @*                    Certified Middle End iOS Developer<br />*@
                            @*                    Java EE, С#, PHP, Lua, Python, GO developer,<br />*@
                            @*                    Unity 3D developer,<br />*@
                            @*                    $1$                        Эксперт в разработке Highload приложений<br/>#1#*@
                            @*                    Expert in developing Highload applications<br />*@
                            @*                    $1$                        Разработка трейдинг-платформ<br/>#1#*@
                            @*                    Custom Trading Platforms Development<br />*@
                            @*                    Development of special software for major retailers<br />*@
                            @*                    Cryptography, electronic document management<br />*@
                            @**@
                            @*                    $1$                        Разработка специального программного обеспечения для крупных ритейлеров<br/>#1#*@
                            @*                    $1$                        Специалист по криптографии<br/>#1#*@
                            @*                    $1$                        Разработка систем электронного документооборота<br/>#1#*@
                            @*                    $1$                        Разработка специального программного обеспечения для Минобороны России<br/>#1#*@
                            @**@
                            @*                    Development of special software for the Ministry of Defense of Russia<br />*@
                            @*                    $1$                        Разработка специального программного обеспечения и участие в разработке программно-аппаратных комплексов для федеральных ведомств РФ<br/>#1#*@
                            @**@
                            @*                    Development of special software and participation in the development of software and hardware for federal agencies of the Russian Federation<br />*@
                            @*                    $1$                        Разработка специального программного обеспечения- для мониторинга и управления безопасностью в сети<br/>#1#*@
                            @*                    Development of special software - for monitoring and managing network security<br />*@
                            @*                    $1$                        Разработка внедряемых агентов-коллекторов для анализа и сбора данных о сетевой и переферийной активности ПК<br/>#1#*@
                            @**@
                            @*                    Development of implemented collector agents for analyzing and collecting data on network and peripheral PC activity<br />*@
                            @*                    $1$                        Государственная тайна#1#*@
                            @Locale["t3"]
                        </p>

                        <div class="social-w">

                            <a target="_blank" href="https://www.linkedin.com">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    @Locale["Software Engineer"]<br />@Locale["Artur Enokyan"]
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-team">
                    <img src="/static/team/ant.png" />
                    <div class="st-content">
                        <h5>@Locale["Anton Polyansky"]</h5>

                        <p>
                            @*                        Руководитель производства аппаратных средств<br/>*@
                            @*                        Инженер-разработчик аппаратных средств<br/>*@
                            @*                        Инженер-программист встраиваемых систем<br/>*@
                            @*                        Специалист по вычислительным системам микро исполнения<br/>*@
                            @*                        Разработка схемотехнических решений, трассировка печатных плат и разработка встраиваемого программного обеспечения для тепловизионных приборов<br/>*@
                            @*                        Разработка схемотехнических решений, трассировка печатных плат для устройств нижнего уровня системы распознавания музыкальных произведений Quinta<br/>*@
                            @*                        Разработка схемотехнических решений и трассировка печатных плат для устройств системы Умного дома<br/>*@
                            @*                        Разработка микроминиатюрных биометрических датчиков и процессорной системы управления биоэлектрическим протезом верхних конечностей<br/>*@
                            @*                        Разработка встраиваемых систем передачи данных на основе технологий Wi-Fi, GSM и Bluetooth*@
                            @Locale["t4"]
                        </p>

                        <div class="social-w">

                            <a target="_blank" href="https://www.linkedin.com/in/anton-polyansky-400a5a156/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    @Locale["Head of Hardware Production"]<br />@Locale["Anton Polyansky"]
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-team">
                    <img src="/static/team/den.jpg" />
                    <div class="st-content">
                        <h5>@Locale["Denis Kuznetsov"]</h5>
                        <p>
                            Lead Mathematician, Senior Architect Developer<br />
                            @*                        Программист встраиваемых систем<br/>*@
                            @*                        Специалист нейронных систем и глубокого обучения<br/>*@
                            @*                        Разработка агента для ведения нецелевого диалога в банковской системе<br/>*@
                            @*                        Разработка Telegram-ботов с поддержкой искусственного интеллекта<br/>*@
                            @*                        Разработка встраиваемого программного обеспечения для устройств системы распознавания музыкальных произведений Quinta<br/>*@
                            @*                        Соавтор патентов для алгоритмов распознавания музыкальных произведений<br/>*@
                            @Locale["t5"]


                        </p>

                        <div class="social-w">

                            <a target="_blank" href="https://www.linkedin.com/in/%D0%B4%D0%B5%D0%BD%D0%B8%D1%81-%D0%BA%D1%83%D0%B7%D0%BD%D0%B5%D1%86%D0%BE%D0%B2-814352118/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    @Locale["Lead Mathematician"]<br />@Locale["Denis Kuznetsov"]
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
                <div class="single-team">
                    <img src="/static/team/anton.png" />
                    <div class="st-content">
                        <h5>@Locale["Anton Maslov"]</h5>

                        <p>
                            @*                    Senior System Analyst, PHP-Developer<br />*@
                            @*                    $1$                    Оптимизация и автоматизация логистических бизнес-процессов DAICHI<br/>#1#*@
                            @*                    $1$                    Системная аналитика многомодульных высоконагруженных систем с различными интеграциями для METRO C&C, Lenta<br/>#1#*@
                            @*                    $1$                    Разработка системы планирования поставок по TOC (Theory of Constraints) для производства IKEA, интегрированной с 1С<br/>#1#*@
                            @*                    $1$                    Управление разработкой и позиционированием продукта<br/>#1#*@
                            @*                    Senior System Analyst, PHP-Developer<br />*@
                            @*                    Optimization and automation of DAICHI logistics business processes<br />*@
                            @*                    System analytics of multimodule high-loaded systems with various integrations for METRO C & C, Lenta<br />*@
                            @*                    The development of a supply planning system for TOC (Theory of Constraints) for the production of IKEA, integrated with 1C<br />*@
                            @*                    Product development and positioning management<br />*@
                            @Locale["t6"]

                        </p>

                        <div class="social-w">

                            <a target="_blank" href="https://www.linkedin.com/in/%D0%B0%D0%BD%D1%82%D0%BE%D0%BD-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE%D0%B2-232701156/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    @Locale["Senior System Analyst"]<br />@Locale["Anton Maslov"]
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 138px" class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="screenshot-head">
                    <div class="section-title">
                        <h2 class="duga">@Locale["adv"]</h2>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 60px;" class="row s-mb_60">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team">
                    <img src="/static/team/podelko.jpg" />
                    <div class="st-content">
                        <h5>Ph.D., MBA/@Locale["Alexander Podelko"]</h5>
                        <p>
                            @*                        К.т.н., эксперт по разработке и тестированию ПО<br/> *@
                            @*                        Член совета директоров группы компьютерных измерений.<br/> *@
                            @*                        Oracle, Consulting Member of Technical Staff<br/>*@
                            @*                        Hyperion, Distinguished Performance Engineer <br/>*@
                            @*                        Aetna, Sr. Architect II<br/>*@
                            @*                        Александр осуществляет координацию продаж и производства продукта для американского рынка, управление филиалом проекта в США, взаимодействие с крупными американскими компаниями-партнерами, обеспечивающими научную и техническую поддержку проекта.<br/>*@
                            @*                        Александр имеет 30 летний опыт в тестировании программного обеспечения, что позволяет ему организовать взаимодействие проекта с крупнейшими игроками рынка тестирования ПО, такими как QAMentor.*@
                            @*                        An expert in software development and testing<br />*@
                            @*                        Member of the Board of Directors of the Computer Measurement Group<br />*@
                            @*                        Oracle, Consulting Member of Technical Staff<br />*@
                            @*                        Hyperion, Distinguished Performance Engineer <br />*@
                            @*                        Aetna, Sr. Architect II<br /><br />*@
                            @**@
                            @*                        Alexander coordinates the sales and production of the product for the US market, the management of the project's branch in the United States, the interaction with major US partner companies that provide scientific and technical support for the project.<br /><br />*@
                            @**@
                            @**@
                            @*                        Alexander has 30 years of experience in software testing, which allows him to organize the interaction of the project with the largest players in the software testing market, such as QAMentor.*@

                            @Locale["t7"]
                        </p>
                        <div class="social-w">
                            <a target="_blank" href="https://www.facebook.com/alexander.podelko?ref=br_rs">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a target="_blank" href="https://www.linkedin.com/in/alexanderpodelko/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a target="_blank" href="http://alexanderpodelko.com/">
                                pp
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    Ph.D., MBA<br />@Locale["Alexander Podelko"]
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team">
                    <img src="/static/team/rus.png" alt="" />
                    <div class="st-content">
                        <h5>CEO & Founder SandCoin <br />@Locale["Ruslan Pichugin"]</h5>
                        <p>
                            @*                        Основатель SandCoin, соучредитель «Ревитал» Основатель Yocto Games<br/> *@
                            @*                        Сотрудничество с Chillingo, Electronic Arts, Microsoft Studios<br/>*@
                            @*                        Руслан руководитель нескольких проектов, один из которых недавно успешно завершил ICO.<br/>*@
                            @*                        Руслан является популярным блокчейн экспертом, юристом и экономистом, это позволяет ему курировать важные организационные, маркетинговые и экономические вопросы, с которыми сталкиваются основатели проекта.*@
                            @*                        CEO & Founder SandCoin<br />*@
                            @*                        Founder Yocto Games <br />*@
                            @*                        Collaboration with Chillingo, Electronic Arts, Microsoft Studios<br /><br />*@
                            @**@
                            @*                        Ruslan is the head of several projects, one of which recently successfully completed the ICO.<br /><br />*@
                            @*                        Ruslan is a popular blockchain expert, lawyer and economist, all this allows him to oversee the important organizational, marketing and economic issues faced by the founders of the project.*@
                            @Locale["t8"]


                        </p>

                        <div class="social-w">
                            <a target="_blank" href="https://www.facebook.com/ruslanpichugin">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a target="_blank" href="https://www.linkedin.com/in/pichugin-ruslan-170a9641/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    CEO & Founder SandCoin <br />@Locale["Ruslan Pichugin"]
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team">
                    <img src="/static/team/pley.png" alt="">
                    <div class="st-content">
                        <h5>@Locale["cto"] Playkey<br />@Locale["Alexey Lykov"]</h5>
                        <p>
                            @*                        Alexey is a technical specialist with 20 years of experience. He has extensive experience working with high-loaded systems. He develops platform solutions of any complexity.<br />*@
                            @*                        Alexey is working on the development of the blockchain system in Playkey for 1.5 years. Manages the infrastructure of more than 1,000 video cards. Developed a unique solution for the mining of cryptocurrency on gaming platforms.<br />*@
                            @*                        Alexey's competencies help the project in the technical issues of TGE.<br />*@
                            @Locale["t9"]

                        </p>
                        <div class="social-w">
                            <a target="_blank" href="https://www.facebook.com/lykovaleksey">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a target="_blank" href="https://www.linkedin.com/in/lykovaleksey/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    @Locale["cto"] Playkey<br />@Locale["Alexey Lykov"]
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-offset-4 col-sm-4 col-xs-12">
            <div class="single-team">
                <img src="/static/team/vag.png" alt="">
                <div class="st-content">
                    <h5>CEO Flexlab<br />@Locale["Wagan Sarukhanov"]</h5>
                    <p>
                        CEO Flexlab<br />
                        @*                        Блокчейн-исследователь и эксперт<br/>*@
                        @*                        30-летний опыт в контрактном производстве электроники и ПО<br/>*@
                        @*                        Более 20 проектов в различных отраслях<br/>*@
                        @*                        Ментор проектов<br/>*@
                        @*                        Wagan's competencies help the project in the business development and technical issues of product development and manufacturing.*@
@*                        Blockchain researcher and expert<br />*@
@*                        30 years of experience in contract manufacturing of electronics and software<br />*@
@*                        More than 20 projects in various industries<br />*@
@*                        Mentor<br /><br />*@
@**@
                        @*                        Wagan's competencies help the project in the business development and technical issues of product development and manufacturing*@
                        @Locale["t10"]

                        </p>
                        <div class="social-w">
                            <a target="_blank" href="https://www.facebook.com/wagan.sarukhanov">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a target="_blank" href="https://www.linkedin.com/in/sarukhanov/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="st-content-under">
                    CEO Flexlab<br />@Locale["Wagan Sarukhanov"]
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="screenshot-head">
                    <div class="section-title">
                        <h2>@Locale["partners"]</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 s-ta_c">
                <div class="_single-team s-ta_c">
                    <div class="s-mb_9">
                        <a target="_blank" href="http://www.icape-group.com/">ICAPE GROUP</a>
                    </div>
                    <a target="_blank" href="http://www.icape-group.com/">
                        <img class="h-grey" width="100" src="/static/partners/icape.png" alt="ICAPE GROUP" />
                    </a>

                    @*                        <div class="st-content">*@
                    @*                            <h5>ALEX SWEET</h5>*@
                    @*                            <p>Web Designer</p>*@
                    @*                            <a href="#">+</a>*@
                    @*                        </div>*@
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 s-ta_c">
                <div class="_single-team s-ta_c">
                    <div class="s-mb_9">
                        <a target="_blank" href="http://www.qamentor.com/">QA MENTOR</a>
                    </div>
                    <a target="_blank" href="http://www.qamentor.com/">
                        <img class="h-grey" width="200" src="/static/partners/qa.png" alt="QA MENTOR" />
                    </a>
                    @*                        <div class="st-content">*@
                    @*                            <h5>ALEX SWEET</h5>*@
                    @*                            <p>Web Designer</p>*@
                    @*                            <a href="#">+</a>*@
                    @*                        </div>*@
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 s-ta_c">
                <div class="_single-team s-ta_c">
                    <div class="s-mb_9">
                        <a target="_blank" href="https://kintarocells.com">CELLS POWER JAPAN</a>
                    </div>
                    <a target="_blank" href="https://kintarocells.com">
                        <img class="h-grey" width="100" src="/static/partners/cells.png" alt="CELLS POWER JAPAN" />
                    </a>
                    @*                        <div class="st-content">*@
                    @*                            <h5>ALEX SWEET</h5>*@
                    @*                            <p>Web Designer</p>*@
                    @*                            <a href="#">+</a>*@
                    @*                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<!-- team-area-end -->
<!-- pricing-area-start -->
@*    <section class="pricing-area" id="price">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-10 col-md-offset-1 col-xs-12">*@
@*                    <div class="pricing-head">*@
@*                        <div class="section-title">*@
@*                            <h2>OUR <span>PRICING</span></h2>*@
@*                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="row">*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-pricing">*@
@*                        <h2 class="sp-title">Basic</h2>*@
@*                        <h3 class="sp-price">$12</h3>*@
@*                        <p class="sp-duration">A week membership</p>*@
@*                        <ul class="sp-list">*@
@*                            <li>3 Web Design</li>*@
@*                            <li>5 Web Development</li>*@
@*                            <li>Free Hosting</li>*@
@*                            <li>SEO Optimization</li>*@
@*                        </ul>*@
@*                        <a class="sp-buy" href="#">Buy now</a>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-pricing active">*@
@*                        <span class="sp-popular">Most Popular</span>*@
@*                        <h2 class="sp-title">Premium</h2>*@
@*                        <h3 class="sp-price">$42</h3>*@
@*                        <p class="sp-duration">A month membership</p>*@
@*                        <ul class="sp-list">*@
@*                            <li>3 Web Design</li>*@
@*                            <li>5 Web Development</li>*@
@*                            <li>Free Hosting</li>*@
@*                            <li>SEO Optimization</li>*@
@*                            <li>24/7 Support</li>*@
@*                            <li>WP Customization</li>*@
@*                        </ul>*@
@*                        <a class="sp-buy" href="#">Buy now</a>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-pricing">*@
@*                        <h2 class="sp-title">Pro</h2>*@
@*                        <h3 class="sp-price">$492</h3>*@
@*                        <p class="sp-duration">A week membership</p>*@
@*                        <ul class="sp-list">*@
@*                            <li>3 Web Design</li>*@
@*                            <li>5 Web Development</li>*@
@*                            <li>Free Hosting</li>*@
@*                            <li>SEO Optimization</li>*@
@*                            <li>24/7 Support</li>*@
@*                        </ul>*@
@*                        <a class="sp-buy" href="#">Buy now</a>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </section>*@
<!-- pricing-area-end -->
<!-- blog-area-start -->
@*    <div class="blog-area">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-10 col-md-offset-1 col-xs-12">*@
@*                    <div class="blog-head">*@
@*                        <div class="section-title">*@
@*                            <h2>Latest News <span>From Blog</span></h2>*@
@*                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="row">*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-blog">*@
@*                        <div class="blog-img">*@
@*                            <a href="07_Post_Details.html"><img src="img/home1/blog1.png" alt=""></a>*@
@*                        </div>*@
@*                        <div class="blog-content">*@
@*                            <span class="bc-date">25th May 2015</span>*@
@*                            <p class="bc-author">Posted by Methov jos in Blog</p>*@
@*                            <h6 class="bc-title"><a href="07_Post_Details.html">Doloremque laudantium totam...</a></h6>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-blog">*@
@*                        <div class="blog-img">*@
@*                            <a href="07_Post_Details.html"><img src="img/home1/blog2.png" alt=""></a>*@
@*                        </div>*@
@*                        <div class="blog-content">*@
@*                            <span class="bc-date">25th May 2015</span>*@
@*                            <p class="bc-author">Posted by Methov jos in Blog</p>*@
@*                            <h6 class="bc-title"><a href="07_Post_Details.html">Doloremque laudantium totam...</a></h6>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-blog">*@
@*                        <div class="blog-img">*@
@*                            <a href="07_Post_Details.html"><img src="img/home1/blog3.png" alt=""></a>*@
@*                        </div>*@
@*                        <div class="blog-content">*@
@*                            <span class="bc-date">25th May 2015</span>*@
@*                            <p class="bc-author">Posted by Methov jos in Blog</p>*@
@*                            <h6 class="bc-title"><a href="07_Post_Details.html">Doloremque laudantium totam...</a></h6>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-xs-12">*@
@*                    <div class="see-all-blog">*@
@*                        <a class="hvr-bs" href="04_Blog_Standeard.html">View All post</a>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
<!-- blog-area-end -->
@*    <!-- twitter-area-start -->*@
@*    <div class="twitter-area">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-xs-12">*@
@*                    <div class="twitter">*@
@*                        <a class="twitter-follow" href="#">Follow us</a>*@
@*                        <p class="twitter-text">@@AndreiJosan Just found this great App Store PSD template on dribbble, check it out: <a href="#">https://t.co/3NaSG35m</a> #freebie #template #dribbble — 12 Mar 2016</p>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*    <!-- twitter-area-end -->*@
