<!-- footer-area-start -->
<footer id="contact" class="grad-g">
@*    <section class="subscribe-area" id="contact">*@
@*        <div class="container">*@
@*$1$            <div class="s-ta_c">#1#*@
@*$1$                <img class="s-logo s-icon" src="/static/Index_0002s_0002s_0002s_0001_CWP2.png" />#1#*@
@*$1$            </div>#1#*@
@*$1$            <div class="row">#1#*@
@*$1$                <div class="col-xs-12">#1#*@
@*$1$                    <div class="subscribe">#1#*@
@*$1$#1#*@
@*$1$                        <div data-bind="popup:{removalDelay:500, callbacks:{}}"#1#*@
@*$1$                             class="white-popup mfp-with-anim mfp-hide"></div>#1#*@
@*$1$#1#*@
@*$1$                        <form action="javascript:void(0)">#1#*@
@*$1$                            <div class="subscribe-input-box sib-name">#1#*@
@*$1$                                <span><i class="far fa-user"></i></span>#1#*@
@*$1$                                <input data-bind="textInput:models.feedModel.name" type="text" placeholder="@Locale["name"]" />#1#*@
@*$1$                            </div>#1#*@
@*$1$                            <div class="subscribe-input-box sib-email">#1#*@
@*$1$                                <span><i class="far fa-envelope"></i></span>#1#*@
@*$1$                                <input data-bind="textInput:models.feedModel.email" type="email" placeholder="@Locale["mail"]">#1#*@
@*$1$                            </div>#1#*@
@*$1$                            <div class="subscribe-input-box sib-submit">#1#*@
@*$1$                                <input data-bind="enable:actions.form.sendEnabled, click: actions.form.send"#1#*@
@*$1$                                       type="submit" class="button no-h" value="@Locale["participate"]">#1#*@
@*$1$                            </div>#1#*@
@*$1$                        </form>#1#*@
@*$1$                        <p class="subscribe-text">@Locale["reghelp"]</p>#1#*@
@*$1$                    </div>#1#*@
@*$1$                </div>#1#*@
@*$1$            </div>#1#*@
@*        </div>*@
@*        <h4 class="hidden">hi</h4>*@
@*    </section>*@
@*    <div class="footer-available-area">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-xs-12">*@
@*                    <div class="available">*@
@*                        <h5 class="available-title">@SharedLocale["wallet"]:</h5>*@
@*                        <ul class="available-links">*@
@*                            <li>*@
@*                                <a href="javascript:void(0)"><img src="/img/home1/download1.png" alt="app store"></a>*@
@*                            </li>*@
@*                            <li>*@
@*                                <a href="javascript:void(0)">*@
@*                                    <img src="/img/home1/download2.png" alt="google play" />*@
@*                                </a>*@
@*                            </li>*@
@*                            $1$                                <li>#1#*@
@*                            $1$                                    <a href="javascript:void(0)">#1#*@
@*                            $1$                                        <img src="/img/home1/download3.png" alt="windows Store"/>#1#*@
@*                            $1$                                    </a></li>#1#*@
@*                            $1$                                <li>#1#*@
@*                            $1$                                    <a href="javascript:void(0)">#1#*@
@*                            $1$                                        <img src="/img/home1/download4.png" alt="amazon"/>#1#*@
@*                            $1$                                    </a></li>#1#*@
@*                        </ul>*@
@*                        $1$                            <h2 class="available-counter"><span class="counter counter-up" data-counterup-delay="30" data-counterup-time="1500">133</span>K downloads</h2>#1#*@
@*                        <h2 class="available-counter">*@
@*                            <span class="counter">*@
@*                                <img src="/static/infinityb.svg" />*@
@*                            </span> @Locale["downloads"]*@
@*                        </h2>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="fba-logo">
                        <div class="logo">
                            <a href="/">Crypto<span class="semibold">WorkPlace</span></a>
                        </div>
                        <p>© @DateTime.Now.Year All rights reserved</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <ul class="fba-links">
                        <li>
                            @Locale["address"]
                        </li>
@*                                                    <li><a href="#">Privacy policy</a></li>*@
@*                                                    <li><a href="#">Contacts</a></li>*@
@*                                                    <li><a href="#">Support</a></li>*@
                    </ul>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <ul class="fba-social">
                        <li><a href="https://www.facebook.com/cryptoworkplace/" target="_blank" data-toggle="tooltip" title="Facebook">
                                <i class="fab fa-2x fa-facebook-f"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://twitter.com/cryptoworkplace" data-toggle="tooltip" target="_blank" title="Twitter">
                                <i class="fab fa-2x fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/cryptoworkplace" target="_blank" data-toggle="tooltip" title="GitHub">
                                <i class="fab fa-2x fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="tg://resolve?domain=" data-toggle="tooltip" title="Telegram">
                                <i class="fab fa-2x fa-telegram-plane"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area-end -->
