 <header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-8">
                <div class="logo hidden-sm hidden-xs">
                    <a class="smoothscroll" href="#home">Crypto<span class="semibold">WorkPlace</span></a>
                </div>
            </div>
            <div class="col-md-8 hidden-sm hidden-xs">
                <div class="menu">
                    <nav class="menu-list">
                        <ul>
                            <li class="active"><a class="smoothscroll" href="#home">@Locale["product"]</a></li>
                            <li><a class="smoothscroll" href="#token">@Locale["token"]</a></li>
                            @*                            <li><a target="_blank" href="~/static/wp.pdf">DOCUMENTS</a></li>*@
                            <li><a class="smoothscroll" href="#docs">@Locale["documents"]</a></li>
                            <li><a class="smoothscroll" href="#ROADMAP">@Locale["roadmap"]</a></li>
                            <li><a class="smoothscroll" href="#team">@Locale["team"]</a></li>
@*                            <li><a class="smoothscroll" href="#price">PRICE</a></li>*@
                            <li><a class="smoothscroll" href="#contact">@Locale["contacts"]</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-1 col-xs-4">
                <div id="change-color" class="b-change-color"></div>
                <div class="search dropdown hidden-sm hidden-xs">
                    <a class="dropdown-toggle" href="#" style="color: #908f8f" data-toggle="dropdown">

                        @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName.Equals("en"))
                        {
                            <i class="fa fa-globe"></i>
                        }
                        else
                        {
                            @CultureInfo.CurrentCulture.ThreeLetterWindowsLanguageName
                        }
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="language-switch">
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-route-culture="en-US">English</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-route-culture="ru-RU">Русский</a>
                        </li>
                        @*                        <li>*@
                        @*                            <a href="/?culture=zh-CN">中國</a>*@
                        @*                        </li>*@
                        @*                        <li>*@
                        @*                            <a href="/?culture=ja-JP">日本</a>*@
                        @*                        </li>*@
                    </ul>
                    <!-- search-modal-start -->
                    <div id="myModal" class="search-modal modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <h4 class="modal-title">Type and Press Enter</h4>
                                <form action="#">
                                    <input type="text" placeholder="Search Here">
                                </form>
                                <div class="modal-close">
                                    <button type="button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- search-modal-end -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- mobile-menu-start -->
<div class="custom-mobile-menu-area visible-sm visible-xs">
    <div class="mobile-menu">
        <button type="button" data-toggle="collapse" data-target="#mobile_menu_show">CWP</button>
        <div class="l-switcher visible-sm visible-xs">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        
                    @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName.Equals("en"))
                    {
                        <i class="fa fa-globe fa-2x"></i>
                    }
                    else
                    {
                        <span class="c-locale">
                            @CultureInfo.CurrentCulture.TwoLetterISOLanguageName
                        </span>
                    }
                </a>
                <ul class="dropdown-menu" aria-labelledby="language-switch">
                    <li>
                        <a href="/">English</a>
                    </li>
                    <li>
                        <a href="/?culture=ru-RU">Русский</a>
                    </li>
                    @*                        <li>*@
                    @*                            <a href="/?culture=zh-CN">中國</a>*@
                    @*                        </li>*@
                    @*                        <li>*@
                    @*                            <a href="/?culture=ja-JP">日本</a>*@
                    @*                        </li>*@
                </ul>
            </div>
        </div>
        <i class="fas fa-align-justify" data-toggle="collapse" data-target="#mobile_menu_show"></i>
        <div id="mobile_menu_show" class="collapse">
            <ul>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#home">@Locale["product"]</a></li>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#token">@Locale["token"]</a></li>
                @*                <li><a data-toggle="collapse" data-target="#mobile_menu_show" target="_blank" href="~/static/wp_.pdf" href="#feature">DOCUMENTS</a></li>*@
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" href="#docs">@Locale["documents"]</a></li>
                
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#ROADMAP">@Locale["roadmap"]</a></li>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#team">@Locale["team"]</a></li>
@*                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#price">PRICE</a></li>*@
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#contact">@Locale["contacts"]</a></li>
                <li>
                    <a href="javascript:void(0)">
                        <div class="dropdown s-pos_r">
                            <a style="text-transform: uppercase" class="dropdown-toggle" href="#" data-toggle="dropdown">
                                @CultureInfo.CurrentCulture.TwoLetterISOLanguageName
                                
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="language-switch">
                                <li>
                                    <a asp-controller="Home" asp-action="Index" asp-route-culture="en-US">English</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Index" asp-route-culture="ru-RU">Русский</a>
                                </li>
                                @*                        <li>*@
                                @*                            <a href="/?culture=zh-CN">中國</a>*@
                                @*                        </li>*@
                                @*                        <li>*@
                                @*                            <a href="/?culture=ja-JP">日本</a>*@
                                @*                        </li>*@
                            </ul>
                    
                        </div>
                    </a>
                </li>
                
               
            </ul>
        </div>
    </div>
</div>
<!-- mobile-menu-end -->