
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-8">
                <div class="logo hidden-sm hidden-xs">
                    @if (ViewBag.Area == "my")
                    {
                        <a asp-controller="Home" asp-action="Index">Crypto<span class="semibold">WorkPlace</span></a>
                    }
                    else
                    {
                        <a class="smoothscroll" href="#home">
                            <span class="s-main-logo">
                               <img src="~/static/CWP2.svg" />
                            </span>
                            <span class="logo-label">360&deg; Secured</span>
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-8 hidden-sm hidden-xs">
                @if (ViewBag.Menu == null || ViewBag.Menu)
                {
                    <div class="menu">
                        <nav class="menu-list">
                            <ul>
                                <li style="    margin: 0;
                                      clear: both;
                                      vertical-align: middle;">
                                    @{
                                        var loc = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
                                        var link = "";
                                        var presentationPath = "";
                                        
                                        if (!loc.Equals("ru") && !loc.Equals("en"))
                                        {
                                            loc = "en";
                                        }
                                        
                                        link = "/static/docs_/CWP_White_Paper_" + loc + ".pdf";
                                        
                                        presentationPath = "/static/docs_/CWP 360Secured-" + loc + ".pdf";
                                    }
@*                                    <a style="float: left;margin-right: 10px;" class="btn btn-sm btn-round btn-g" target="_blank"*@
@*                                       href="@presentationPath">@Locale["PRESENTATION"]</a>*@
                                    
                                    <a style="margin-right: 10px;float: left;" href="#mvp" class="smoothscroll btn btn-sm btn-round btn-g">@Locale["MVP"]</a>
                                    
                                    <a style="float: right;" class="btn btn-sm btn-round btn-g" target="_blank"
                                       href="@link">@Locale["wp"]</a>

                                </li>
                                <li class="active"><a class="smoothscroll" href="#home">@Locale["product"]</a></li>
                                <li><a class="smoothscroll" href="#token">@Locale["token"]</a></li>
                                <li><a class="smoothscroll" href="#ROADMAP">@Locale["roadmap"]</a></li>
                                <li><a class="smoothscroll" href="#team">@Locale["team"]</a></li>
                                <li><a class="smoothscroll" href="#contact">@Locale["contacts"]</a></li>
                            </ul>
                        </nav>
                    </div>
                }
            </div>
            <div class="col-md-1 col-xs-4">
                <div id="change-color" class="b-change-color"></div>
                <div class="search s-lang_changer dropdown hidden-sm hidden-xs">
                    <a class="dropdown-toggle s-lang_changer__toggle" href="#" data-toggle="dropdown">
                        @CultureInfo.CurrentCulture.ThreeLetterISOLanguageName
                        <i class="fa fa-angle-down"></i>
                    </a>
                    
                    <ul class="dropdown-menu" aria-labelledby="language-switch">
                        <li><a asp-controller="Home" asp-action="Index" asp-route-culture="en-US">English</a></li>
@*                        <li><a asp-controller="Home" asp-action="Index" asp-route-culture="ru-RU">Русский</a></li>*@
@*                        <li><a href="/?culture=zh-CN">中國</a></li>*@
@*                        <li><a href="/?culture=ja-JP">日本</a></li>*@
                    </ul>
@*                    <!-- search-modal-start -->*@
@*                    <div id="myModal" class="search-modal modal fade" role="dialog">*@
@*                        <div class="modal-dialog">*@
@*                            <!-- Modal content-->*@
@*                            <div class="modal-content">*@
@*                                <h4 class="modal-title">Type and Press Enter</h4>*@
@*                                <form action="#">*@
@*                                    <input type="text" placeholder="Search Here">*@
@*                                </form>*@
@*                                <div class="modal-close">*@
@*                                    <button type="button" data-dismiss="modal">Close</button>*@
@*                                </div>*@
@*                            </div>*@
@*                        </div>*@
@*                    </div>*@
@*                    <!-- search-modal-end -->*@
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-start -->
<div class="custom-mobile-menu-area visible-sm visible-xs">
    <div class="mobile-menu">
        <button type="button" data-toggle="collapse" data-target="#mobile_menu_show">
            CWP
        </button>
        @if (ViewBag.Menu == null || ViewBag.Menu)
        {
            <i class="fas fa-align-justify fa-align-right collapsed" data-toggle="collapse" data-target="#mobile_menu_show"></i>
            <div id="mobile_menu_show" class="collapse mobile_menu_show">
                @{
                    var loc = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
                    var link = "";
                    if (!loc.Equals("ru") && !loc.Equals("en"))
                    {
                        loc = "en";
                    }
                    link = "/static/docs_/CWP_White_Paper_" + loc + ".pdf";
                }
                <ul>
                    <li>
                        <a data-toggle="collapse" data-target="#mobile_menu_show" target="_blank" href="@link">@Locale["wp"]</a>
                    </li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#home">@Locale["product"]</a></li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#token">@Locale["token"]</a></li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#ROADMAP">@Locale["roadmap"]</a></li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#team">@Locale["team"]</a></li>
                    <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#contact">@Locale["contacts"]</a></li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="dropdown s-pos_r">
                                <a style="text-transform: uppercase" class="dropdown-toggle" href="#" data-toggle="dropdown">
                                    @CultureInfo.CurrentCulture.TwoLetterISOLanguageName

                                </a>
                                <ul class="dropdown-menu" aria-labelledby="language-switch">
                                    <li>
                                        <a asp-controller="Home" asp-action="Index" asp-route-culture="en-US">English</a>
                                    </li>
                                    @*                                    <li>*@
                                    @*                                        <a asp-controller="Home" asp-action="Index" asp-route-culture="ru-RU">Русский</a>*@
                                    @*                                    </li>*@
                                    @*<li>*@
                                    @*  <a href="/?culture=zh-CN">中國</a>*@
                                    @*</li>*@
                                    @*<li>*@
                                    @* <a href="/?culture=ja-JP">日本</a>*@
                                    @*</li>*@
                                </ul>

                            </div>
                        </a>
                    </li>


                </ul>
            </div>
        }
        
        <div class="l-switcher visible-sm visible-xs">
@*            <div class="dropdown">*@
@*                <a class="dropdown-toggle" href="#" data-toggle="dropdown">*@
@**@
@*                    @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName.Equals("en"))*@
@*                    {*@
@*                        <i class="fa fa-globe fa-2x"></i>*@
@*                    }*@
@*                    else*@
@*                    {*@
@*                        <span class="c-locale">*@
@*                            @CultureInfo.CurrentCulture.TwoLetterISOLanguageName*@
@*                        </span>*@
@*                    }*@
@*                </a>*@
@*                <ul class="dropdown-menu" aria-labelledby="language-switch">*@
@*                    <li><a href="/">English</a></li>*@
@*$1$                    <li><a href="/?culture=ru-RU">Русский</a></li>#1#*@
@*$1$                    <li><a href="/?culture=zh-CN">中國</a></li>#1#*@
@*$1$                    <li><a href="/?culture=ja-JP">日本</a></li>#1#*@
@*                </ul>*@
@*            </div>*@
        </div>
        
    </div>
</div>
<!-- mobile-menu-end -->
</header>

