<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CWPIO</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    
    
@*    <environment include="Development">*@
@*        <link rel="stylesheet" href="~/css/site.css" />*@
@*    </environment>*@
@*    <environment exclude="Development">*@
@*        <link rel="stylesheet" href="~/css/site.min.css" />*@
@*    </environment>*@
    
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/icofont.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/meanmenu.css?v=@DateTime.Now.Hour">
    <link rel="stylesheet" href="~/css/style.css?v=@DateTime.Now.Hour">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>

<div class="b-main">
    <div id="preloader"></div>
    <!-- header-start -->
    @Html.Partial("_Header")
    <!-- header-end -->

    @RenderBody()
</div>

@Html.Partial("_Footer")

@*<environment include="Development">*@
@*    *@
@*</environment>*@
@*<environment exclude="Development">*@
@*    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"*@
@*            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"*@
@*            asp-fallback-test="window.jQuery"*@
@*            crossorigin="anonymous"*@
@*            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">*@
@*    </script>*@
@*    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"*@
@*            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"*@
@*            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"*@
@*            crossorigin="anonymous"*@
@*            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">*@
@*    </script>*@
@*    <script src="~/js/site.min.js" asp-append-version="true"></script>*@
@*</environment>*@

@RenderSection("Scripts", required: false)
<script src="~/js/jquery-3.2.0.min.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.counterup.min.js"></script>
<script src="~/js/countdown.js"></script>
<script src="~/js/imagesloaded.pkgd.min.js"></script>
<script src="~/js/isotope.pkgd.min.js"></script>
<script src="~/js/jquery.scrollActive.js"></script>
<script src="~/js/jquery.stickUp.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.meanmenu.js"></script>
<script src="~/js/jquery.scrollUp.js"></script>
<script src="~/js/jquery.mixitup.min.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/theme.js"></script>
<script src="~/lib/knockout/knockout.js"></script>
<script src="~/js/App.js?v=@DateTime.Now.Hour"></script>
<script asp-append-version="true" src="~/js/vm/main/index.js"></script>
</body>
</html>
