<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CWPIO - @ViewData["Title"]</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <link rel="stylesheet" asp-append-version="true" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/icofont.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/jquery-ui.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/fontawesome-all.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/magnific-popup.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/animate.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/meanmenu.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/style.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/responsive.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/components/cwp-font/styles.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/components/cwp-font/extentions.css"/>
    
    <locale include="ru-RU">
        <style>
            h1, h2, h3, h4, h5, h6 {
                font-family: segoe ui light, sans-serif;
            }
            .h1hl-title {
                font-size: 50px;
            }
            @@media only screen and (max-width: 480px) and (min-width: 240px) {
                .h1hl-title {
                    font-size: 33px;
                    line-height: 48px;
                }
            }
        </style>
    </locale>

    @RenderSection("Styles", required: false)
    
    @*Макс это должно быть тут и именно так*@
    
    <script>
        setTimeout("document.body.className = window.sessionStorage.getItem('color')", 0);
    </script>
    @Html.Raw(snippet.FullScript)
</head>

<body class="darkside">

    <div class="b-main">
        <div id="preloader"></div>
        <!-- header-start -->
        @Html.Partial("_Header")
        <!-- header-end -->

        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    <script>
        window.culture = "@Context.GetCurrentCulture()";
    </script>
    @Html.Raw(snippet.FullScript)

    <script src="~/js/jquery-3.2.0.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/jquery.scrollActive.js"></script>
    <script src="~/js/jquery.stickUp.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.meanmenu.js"></script>
    <script src="~/js/jquery.scrollUp.js"></script>
    <script src="~/js/jquery.mixitup.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script asp-append-version="true" src="~/js/bootstrap.min.js"></script>
    <script asp-append-version="true" src="~/js/theme.js"></script>
    <script asp-append-version="true" src="~/js/knockout.js"></script>
    <script asp-append-version="true" src="~/js/App.js"></script>
    <script asp-append-version="true" src="~/js/vm/main/index.js"></script>
<script asp-append-version="true" src="~/js/raphael.js"></script>
<script asp-append-version="true" src="~/js/timer.js"></script>

    @RenderSection("Scripts", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112761687-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-112761687-1');


//        var a = setTimeout(function() {
//                document.body.classList = 'darkside';
//            },180000);
//
//        $(document).on('mousemove', function() {
//                clearTimeout(a);
//
//                //document.body.classList = '';
//
//                a = setTimeout(function() {
//                    document.body.classList = 'darkside';
//                },180000);
//            });
      
      
      $('.content').each( function(i){
  
          var bottom_of_object= $(this).offset().top + $(this).outerHeight();
          var bottom_of_window = $(window).height();
  
          if( bottom_of_object > bottom_of_window){
              $(this).addClass('hidden');
          }
      });


      $(window).scroll( function(){
          /* Check the location of each element hidden */
          $('.hidden').each( function(i){
      
              var bottom_of_object = $(this).offset().top + $(this).outerHeight();
              var bottom_of_window = $(window).scrollTop() + $(window).height();
      
              /* If the object is completely visible in the window, fadeIn it */
              if( bottom_of_window > bottom_of_object ){
                  $(this).animate({'opacity':'1'},700);
              }
          });
      });

      var sizes = [6,3];
      
      var config = {
          id : "digital_led",
          type : "countdown",
          format : "ddd:hh:mm:ss",
          color : "#fff",
          bgcolor : "#000",
          size : sizes[(480 / window.screen.width).toString()[0]],
          rounded : 1,
          led : "font1"};
      var myLed = new Led(config);
    </script>

</body>
</html>
