<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cwp2</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
@*    <environment include="Development">*@
@*        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
@*        <link rel="stylesheet" href="~/css/site.css" />*@
@*    </environment>*@
@*    <environment exclude="Development">*@
@*        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"*@
@*              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"*@
@*              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
@*        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
@*    </environment>*@
    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/css/animate.css" >
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" >
    <!-- ionicons CSS -->
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/spop.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- Color CSS -->
    <link id="layoutstyle" rel="stylesheet" href="/assets/color/theme.css">
</head>
<body class="v_dark" data-spy="scroll" data-offset="110">

<!-- START LOADER -->
<div id="loader-wrapper">
    <div id="loading-center-absolute">
        <div class="object" id="object_four"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_one"></div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
<!-- END LOADER -->

@Html.Partial("_PartialNav")



@RenderBody()

@Html.Partial("_PartialFooter")

<a href="#" class="scrollup btn-default"><i class="ion-ios-arrow-up"></i></a> 

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

<!-- Latest jQuery --> 
<script src="/assets/js/jquery-1.12.4.min.js"></script> 
<!-- Latest compiled and minified Bootstrap --> 
<script src="assets/js/bootstrap.min.js"></script> 
<!-- owl-carousel min js  --> 
<script src="/assets/js/owl.carousel.min.js"></script> 
<!-- magnific-popup min js  --> 
<script src="/assets/js/magnific-popup.min.js"></script> 
<!-- waypoints min js  --> 
<script src="/assets/js/waypoints.min.js"></script> 
<!-- parallax js  --> 
<script src="/assets/js/parallax.js"></script> 
<!-- countdown js  --> 
<script src="/assets/js/jquery.countdown.min.js"></script> 
<!-- particles min js  --> 
<script src="/assets/js/particles.min.js"></script> 
<!-- scripts js --> 
<script src="/assets/js/jquery.dd.min.js"></script> 
<!-- jquery.counterup.min js --> 
<script src="/assets/js/jquery.counterup.min.js"></script> 
<!-- modern_canvas js --> 
<script src="/assets/js/modern_canvas.js"></script> 
<script src="/assets/js/spop.min.js"></script> 
<script src="/assets/js/notification.js"></script> 
<!-- scripts js --> 
<script src="/assets/js/scripts.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
