@using Microsoft.AspNetCore.Mvc.Rendering

@{
	ViewData["Title"] = "Sales Dashboard";
	ViewData["theme"] = "#000000";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/admin/exchanger/styles.css" rel="stylesheet" type="text/css"/>


<div class="m--visible-desktop m--visible-tablet">
	@Html.Partial("Sales/_Infos")
</div>

<div class="m--visible-mobile s-mb_20">
	<div class="m--visible-mobile m-alert m-alert--icon m-alert--air m-alert--square alert alert-brand alert-dismissible fade show" role="alert">
		<div class="m-alert__icon m--visible-desktop">
			<i class="la la-warning"></i>
		</div>
		<div class="m-alert__text">
			<!-- ko if:obs.usersettings.ethAddress -->
			<span data-i18n="lk.your">Your</span>
			<strong data-i18n="lk.whitelisted">whitelisted</strong>
			<span data-i18n="lk.ethaddr">ETH address:</span>
			<br/>
			
				<a style="word-break: break-all; font-size: 11px;color:#fff" data-bind="text:obs.usersettings.ethAddress, attr:{'href':('https://etherscan.io/address/'+ obs.usersettings.ethAddress())}"
				   target="_blank" href="#">
					<i style="margin-left: 30px" class="m-loader m-loader--brand"></i>
				</a>
			
			<!-- /ko -->
		</div>
	</div>

</div>


<div class="m--visible-mobile b-exchanger-nav">
@*	<div style="width: 65px; height: 65px; background-color: #000000; border-radius: 50%; position: absolute; left: 12px; bottom: 40px; text-align: center; color: #36a3f782; font-size: 25px; padding: 20px 0; line-height: 25px; /* box-shadow: -3px 1px 38px 0 rgb(54, 163, 247); *//* background: linear-gradient(to right, #232323, #101010); */opacity: 1;">*@
@*		<i class="fa fa-bitcoin" style="font-size: 25px;">*@
@*		</i>*@
@*	</div>*@
@*	<div style="width: 65px; height: 65px; background-color: #000000; border-radius: 50%; position: absolute; left: 104px; bottom: 40px; text-align: center; color: #5d5f77; font-size: 25px; padding: 20px 0; line-height: 25px; box-shadow: 0 19px 38px 0 rgba(34, 36, 43, .3);">*@
@*		<i class="fa fa-exchange" style="font-size: 25px;">*@
@*		</i>*@
@*	</div>*@
@*	<div style="width: 65px; height: 65px; background-color: #000000; border-radius: 50%; position: absolute; left: 194px; bottom: 40px; text-align: center; color: #5d5f77; font-size: 25px; padding: 20px 0; line-height: 25px; box-shadow: 0 19px 38px 0 rgba(34, 36, 43, .3);">*@
@*		<i class="fa fa-send" style="font-size: 25px;">*@
@*		</i>*@
@*	</div>*@
	<ul class="nav nav-pills nav-fill" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-i18n="lk.exchanger" data-toggle="tab" href="#tab-exchanger">Exchanger</a>
		</li>
		<li class="nav-item">
			<a id="show-info" class="nav-link" data-i18n="lk.balance" data-toggle="tab" href="#tab-info">Balance</a>
		</li>
		<li class="nav-item">
			<a data-toggle="tab" href="#tab-info" data-bind="click:actions.confirmDidTransactionMob"
			   class="nav-link"
			   data-i18n="lk.ididsend">
				I did send
			</a>
		</li>
		<li class="nav-item">
			<a onclick="jivo_api.open();" class="nav-link">
				<i style="font-size: 2rem;" class="fa fa-3x fa-comments"></i>
			</a>
		</li>
	</ul>
</div>

<div class="row tab-content">
<div class="col-md-7 tab-pane active" id="tab-exchanger">
<div class="m-portlet m-portlet--dark m-portlet--nopadd">
<div class="m-portlet__head m--visible-desktop-table  m--visible-tablet-table">
	<div class="m-portlet__head-caption">
		<div class="m-portlet__head-title m--visible-desktop-table m--visible-tablet-table">
			<h3 data-i18n="lk.choose_h" class="m-portlet__head-text">
				Choose currency to purchase CWT-P
			</h3>
		</div>
	</div>

	<div class="m-portlet__head-tools">
		<div class="input-group m-input-group m-input-group--nonborder">
			<div class="m-input-icon m-input-icon--left">
				<input data-bind="textInput: obs.searchInput" placeholder="Search coin..." class="form-control m-input"
				       type="text"/>
				<span class="m-input-icon__icon m-input-icon__icon--left">
					<span>
						<i class="la la-search"></i>
					</span>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="m-portlet__body">

<div data-bind="ifnot:flags.currenciesReady" class="s-ta_c">
	<div class="s-mb_20">
		@Html.Partial("Sales/_Loader")
	</div>
</div>

<div data-bind="css:{'s-display_bi': flags.currenciesReady}" class="s-display_n">

<div class="row s-overflow_h">
<div class="col-md-12 col-sm-12">

<div class="*s-mb_40i row">
<div data-bind="css:{'col-md-5 col-sm-12': flags.gateOperating, 'col-md-12': (flags.gateOperating() === false)}" class="b-currencies-wrapper">

	<div data-bind="css:{'s-display_bi': flags.emptySearchRequest}" data-i18n="lk.empty_c_list"  
	     class="s-display_n b-empty-search--coins">
		There is no currencies you are search
	</div>

	<div data-bind="css:{'s-display_n': flags.emptySearchRequest}">
		@Html.Partial("Sales/_PartialCurrenciesList")
	</div>

	<div class="m--visible-mobile">
		@Html.Partial("Sales/_InfosM")
	</div>
</div>

<div data-bind="css:{'col-md-7 col-sm-12': (flags.gateOperating() === true), 's-display_n': (flags.gateOperating() === false)}">

<div data-bind="css:{'slide-up': flags.slideUpLimits, 'slide-down': flags.slideDownLimits}" class="currency-current-wrapper clearfix">
	<h5 class="m--font-primary m--visible-mobile">
		<span class="s-icon s-mr_10" data-bind="text: (obs.currentCoin.name() + ' ' + obs.currentCoin.symbol())"></span>
		<a data-bind="click:actions.offGateInit"
		   href="javascript: void(0)"
		   data-toggle="tooltip"
		   title="cancel purchase"
		   class="s-icon">
			<i class="la la-power-off"></i>
		</a>
	</h5>
	
	<div class="currency-current">
		<div class="s-mb_10 m--visible-desktop">
			<img width="100" data-bind="attr:{'src':obs.currentCoin.image}"/>
		</div>
		<div class="s-mb_10 m--visible-mobile m--visible-tablet">
			<img width="80" style="opacity: .9;" data-bind="attr:{'src':obs.currentCoin.image}"/>
		</div>
	</div>

	<div class="currency-current-right">
		<h5 class="m--font-primary m--visible-desktop m--visible-tablet">
			<span class="s-icon s-mr_10" data-bind="text: (obs.currentCoin.name() + ' ' + obs.currentCoin.symbol())"></span>
			<a data-bind="click:actions.offGateInit"
			   href="javascript: void(0)"
			   data-toggle="tooltip"
			   title="cancel purchase"
			   class="s-icon">
				<i class="la la-power-off"></i>
			</a>
		</h5>
		<div class="m--visible-desktop" style="margin-bottom: 5px">
			<strong data-bind="text: obs.market.limit"></strong>&nbsp;<span data-i18n="lk.limit">limit</span>
		</div>
		<div style="margin-bottom: 5px">
			<strong data-bind="text: obs.market.maxLimit"></strong>&nbsp;<span data-i18n="lk.max_limit">maxLimit</span>
		</div>
		<div style="margin-bottom: 5px">
			<strong data-bind="text: obs.market.minimum"></strong>&nbsp;<span data-i18n="lk.minimum">minimum</span>
		</div>
		<div>
			<strong data-bind="text: obs.market.rate"></strong>&nbsp;<span data-i18n="lk.rate">rate</span>
		</div>
	</div>
</div>

<!-- ko if: flags.whiteListLess -->

<!-- ko ifnot:flags.whiteListAskFormReady -->
<div class="s-ta_c">
	@Html.Partial("Sales/_Loader")
</div>
<!-- /ko -->

<!-- ko if:flags.whiteListAskFormReady -->
<div class="b-ask-text">
	<!-- ko text:obs.askFormText --><!-- /ko -->
</div>

<!-- ko if: flags.whiteListInputReady -->
<div data-bind="css:{'show-slow': flags.whiteListInputReady}" class="b-ask-wl--input">
	<div class="form-group m-form__group">
		<div class="input-group">
			<input placeholder="Enter your ETH wallet address"
			       maxlength="42" data-bind="textInput:obs.whiteListAddressField" autofocus type="text" class="form-control"/>

			<!-- ko if:flags.hasMetamask -->
			<div class="input-group-append">
				<button data-bind="disable:(flags.lockFill() || flags.whiteListAddressProcessing()), click:actions.getndFillAddressFromMetamask"
				        class="btn  btn-primary" type="button">
					<span data-i18n="lk.fill_f_mm">Fill from MetaMask</span>
					<img height="16" style="margin-left: 5px; vertical-align: top;" src="~/images/metamask.png"/>
				</button>
			</div>
			<!-- /ko -->
		</div>
	</div>

	<!-- ko if:flags.whiteListAddressProcessing -->
	<div class="s-ta_c">
		@Html.Partial("Sales/_Loader")
	</div>
	<!-- /ko -->

</div>
<!-- /ko -->

<!-- /ko -->

<!--/ko-->

<!-- ko ifnot: flags.whiteListLess -->
<!-- ko if:flags.isFixedAmmountMode -->

<div data-bind="css:{'s-display_bi': (flags.expiredOrder() && !flags.userDidTransaction())}"
     class="s-display_n m-alert m-alert--square alert alert-brand m-alert--air alert-dismissible fade show" role="alert">
	<p data-i18n="lk.expired_order">Ths Order is expired, do not deposit any currency to address below!</p>
	<a data-i18n="lk.create_order" data-bind="click:actions.continueExpiredOrder" 
	   class="btn btn-info btn-sm m-btn--square" 
	   href="javascript: void(0)">Create new order</a>
</div>

<div data-bind="css:{'s-display_bi': (flags.expiredOrder() && flags.userDidTransaction())}"
     class="s-display_n m-alert m-alert--square alert m-alert--air alert-brand alert-dismissible fade show" role="alert">
	<p data-i18n="lk.expired_order_did_transaction">
		Your transaction in progress, current order is expired, create new order for more CWT-P and do not deposit any currency to address below
	</p>
	<a data-i18n="lk.create_order" data-bind="click:actions.continueExpiredOrder" 
	   class="btn btn-info btn-sm m-btn--square" href="javascript: void(0)">Create new order</a>
</div>

@*					<h6 class="m--font-primary">*@
@*						Optionally you can specify return address(<strong><!-- ko text: obs.currentCoin.symbol --><!--/ko--></strong>) *@
@*					</h6>*@
@*					<div data-bind="css:{'m-loader m-loader--primary m-loader--right': flags.returnAddressValidating}" class="s-mb_20">*@
@*						<input data-bind="textInput: obs.returnAddress, disable:flags.returnAddressValidating" type="text" class="form-control ammount-control"/>*@
@*					</div>*@

<div data-bind="css:{'s-display_bi': (obs.currentCoin.symbol() !== 'ETH')}" class="s-display_n s-mb_20">
	<div class="input-group">
		<div class="input-group-prepend b-receive-before s-c_777">
			<span class="m--visible-desktop-inline m--visible-tablet-inline s-mr_5" 
			      data-i18n="lk.return_address">Return address</span>
			<span class="m--visible-desktop-inline m--visible-tablet-inline">(<!-- ko text: obs.currentCoin.symbol --><!--/ko-->)</span>

			<div data-bind="css:{'m-loader m-loader--primary': flags.returnAddressValidating}"
			     style="width: 30px; display: inline-block;">
			</div>
		</div>

		<input placeholder="This field is optional" data-bind="textInput: obs.returnAddress, disable:flags.returnAddressValidating" type="text"
		       class="m--visible-desktop m--visible-tablet form-control ammount-control"/>

		<input placeholder="Return address (optional)" data-bind="textInput: obs.returnAddress, disable:flags.returnAddressValidating" type="text"
		       class="m--visible-mobile form-control ammount-control" style="width: 100%;"/>

	</div>
</div>

<div data-bind="css:{'s-display_bi': (!flags.isValidReturnAddress())}"
     class="s-display_n m-alert alert m-alert--square alert-danger alert-dismissible fade show" style="z-index: 1" role="alert">
	<span data-i18n="lk.invalid">This is not a valid</span> <strong><!-- ko text: obs.currentCoin.symbol --><!--/ko--></strong> 
	<span data-i18n="lk.address">address</span>
</div>

@*					<h6 class="m--font-primary">*@
@*						CWT-P Token amount you want to receive*@
@*					</h6>*@
@*					<div class="s-mb_20">*@
@*						<input autofocus data-bind="textInput: obs.cwtCount, disable:flags.depositAddrGetting" type="number" class="form-control ammount-control"/>*@
@*					</div>*@

<div class="s-mb_20">
	<div class="input-group">
		<div data-i18n="lk.wanna_receive" class="input-group-prepend  b-receive-before">
			I want to receive
		</div>
		<input autofocus="" data-bind="textInput: obs.cwtCount, disable:flags.depositAddrGetting" type="number" 
		       class="form-control ammount-control control-xxl">
		<div class="input-group-append b-receive-after">CWT-P</div>
	</div>
</div>

<div data-bind="css:{'s-display_bi': flags.minCont}"  data-i18n="lk.min_contr"  
     class="s-display_n m-alert m-alert--square m-alert--air alert alert-brand alert-dismissible fade show" role="alert">
	Minimum contribution is 500 CWT-P
</div>
<!--/ko-->
<!--/ko-->

<!-- ko if:flags.depositAddrGetting -->
<div class="s-ta_c">
	@Html.Partial("Sales/_Loader")
</div>
<!-- /ko -->

<!-- ko ifnot: flags.whiteListLess -->
<!-- ko ifnot:flags.depositAddrGetting -->
<div class="s-mb_20" data-bind="if: flags.depositAddrGot">
	<div class="s-mb_10">
		<!-- ko if: flags.isFixedAmmountMode -->
		<p>
			<span data-i18n="lk.pl_send">Please send</span>&nbsp;<a class="s-dashed-link" href="javascript:void(0)">
				<strong data-bind="click:actions.notify.bind(null, 'copied!')"
				        data-clipboard-target="#deposit-ammount" id="deposit-ammount">
					<!-- ko text: obs.fixedAmmount.depositAmount --><!--/ko-->
				</strong>
			</a>
			<strong><!-- ko text: obs.currentCoin.symbol --><!--/ko--></strong>
			(<span data-i18n="lk.inc_fee">includs fee</span>: <!-- ko ifnot: obs.currentCoin.symbol() === 'ETH' -->0.0022<!--/ko-->
			<!-- ko if: obs.currentCoin.symbol() === 'ETH' -->0<!--/ko--> ETH) <span data-i18n="lk.to_addr_bel">to the address below</span>:
		</p>
		<!-- ko if: (obs.currentCoin.symbol() !== 'ETH') -->
		<p>
			<span data-i18n="lk.order_exp_on">This order will expair on</span>
			<strong>
				<!-- ko text: (new Date(obs.fixedAmmount.expiration()).toLocaleString()) --><!--/ko-->
			</strong>
		</p>
		<!-- /ko -->
		<!-- /ko -->

		<!-- ko ifnot: flags.isFixedAmmountMode -->
		<span data-i18n="lk.pl_send_y">Please send your</span>&nbsp;<strong><!-- ko text: obs.currentCoin.symbol --><!--/ko--></strong> 
		&nbsp;<span data-i18n="lk.to_addr_bel">to the address below</span>:
		<!-- /ko -->
	</div>
	<div class="s-mb_20">
		<a href="javascript: void(0)" class=" s-dashed-link">
			<strong data-clipboard-target="#purchaseAddr" data-bind="text:obs.depositAddress, click:actions.notify.bind(null, 'copied!')" 
			        class="s-icon purch-addr" id="purchaseAddr"></strong>
		</a>
		<!-- ko ifnot: obs.depositAddress -->
		<strong data-i18n="lk.dep_addr_error">deposit address error</strong>
		<!--/ko-->
		<!-- ko if: obs.depositAddress -->
		@*		<img src="~/images/copy-ico.svg" class="btn-copy" data-bind="click:actions.notify.bind(null, 'copied!')"*@
		@*		     id="copy2" data-clipboard-target="#purchaseAddr"/>*@
		<!--/ko-->
	</div>
	<!-- ko if: obs.depositAddress -->
	<div class="pull-left s-mb_20 m--visible-desktop m--visible-tablet">
		<img width="100" data-bind="attr:{'src':('https://api.qrserver.com/v1/create-qr-code/?size=150x150&amp;data=' + obs.depositAddress())}"
		     style="border: 1px solid #ddd;" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&amp;data=example"/>
	</div>
	<!--/ko-->
	<button data-bind="click:actions.confirmDidTransaction" style="margin-top: 35px;"
	        class="m--visible-desktop pull-right btn btn-info btn-sm m-btn--square" 
	        data-i18n="lk.ididsend">
		I did send
	</button>
@*	<a data-toggle="tab" href="#tab-info"  data-bind="click:actions.confirmDidTransactionMob"*@
@*	   class="pull-right btn btn-info btn-sm m-btn--square s-full m--visible-mobile" *@
@*	   data-i18n="lk.ididsend">*@
@*		I did send*@
@*	</a>*@
</div>
<!-- /ko -->
<!-- /ko -->

</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>

<div class="col-md-5 tab-pane" id="tab-info">
	@Html.Partial("Sales/_Index")	
</div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 style="text-align: center" class="modal-title" id="exampleModalLabel">
					Purchase in process, <strong>freezed</strong> exchange rate is <!-- ko text: obs.freezed --><!--/ko--> CWT-P for 1 ETH
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div style="text-align: center" class="modal-body">
				<p>You have 15 minutes to complete the transaction after which it will be canceled</p>

				<h2 style="margin-bottom: 20px;">Buy <!--ko text:obs.cwtCount-->0<!--/ko--> CWT-P to <!--ko text:obs.needPay-->0<!--/ko--> ETH</h2>

				<h4 style="margin-bottom: 20px;">Send <!--ko text:obs.needPay-->0<!--/ko--> ETH to the specified address</h4>

				<a data-bind="text:obs.contractAddress, attr:{'href': ('https://etherscan.io/token/' + obs.contractAddress())}" target="_blank" style="display: block; text-overflow: ellipsis; margin-bottom: 20px; overflow: hidden;" href=""></a>

				<img data-bind="attr:{'src':('https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=' + obs.contractAddress())}"
				     style="padding: 15px; width: 145px;" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=Example"/>

				or use

				<a data-bind="click:actions.purchase" target="_blank" style="display: inline-block;" href="javasctipt:void(0)">
					<img style="height: 118px; padding: 0 0 0 10px;" src="~/images/metamask.png"/>
				</a>

			</div>
			<div style="justify-content: center;" class="modal-footer">
				<input data-bind="value:obs.contractAddress" type="text" style="z-index: -2; position: absolute;" id="addr"/>
				<button data-bind="click:actions.notify.bind(null, 'copied!')" id="copy" data-clipboard-target="#addr" type="button" class="btn btn-lg btn-info">Copy address</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		window.nodeUrl = '@(EthSettings?.Value.WebNodeUrl ?? "http://localehost:8545")';
	</script>
	<script src="~/js/web3.min.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
	<script asp-append-version="true" src="~/js/shapeshift.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

	<script asp-append-version="true" src="~/js/modules/exchange-gate/index.js"></script>
	<script asp-append-version="true" src="~/js/controllers/exchanger/index.js"></script>
	<script>

	</script>
}